<%= turbo_frame_tag "content-zone" do %>
  <div>
    <h1 class="font-bold text-xl">ダッシュボード</h1>
    <% unless session['credentials'] %>
      <!-- Place a login button anywhere on your application -->
      <%= button_to 'Log In', '/auth/auth0', params: {prompt: 'login'}, data: {turbo: "false"} %>
    <% else %>
      <!-- Place a logout button anywhere on your application -->
      <%= button_to 'Logout', '/auth/logout', method: :get, data: { turbo: false } %>
      <p>Find me in app/views/dashboard/index.html.erb</p>
      <p>current_user: <%= @username %>, current_user_id: <%= @user_id %></p>
    <% end %>
  </div>
<% end %>
