<div id="<%= dom_id auth_user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Password:</strong>
    <%= auth_user.password %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last login:</strong>
    <%= auth_user.last_login %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is superuser:</strong>
    <%= auth_user.is_superuser %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Username:</strong>
    <%= auth_user.username %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= auth_user.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= auth_user.last_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= auth_user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is staff:</strong>
    <%= auth_user.is_staff %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is active:</strong>
    <%= auth_user.is_active %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date joined:</strong>
    <%= auth_user.date_joined %>
  </p>

</div>
