<div id="<%= dom_id specimen_label %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= specimen_label.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Data label flag:</strong>
    <%= specimen_label.data_label_flag %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Coll label flag:</strong>
    <%= specimen_label.coll_label_flag %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Det label flag:</strong>
    <%= specimen_label.det_label_flag %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note label flag:</strong>
    <%= specimen_label.note_label_flag %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= specimen_label.user_id %>
  </p>

</div>
