<div id="<%= dom_id specimen %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date last modified:</strong>
    <%= specimen.date_last_modified %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Collection code:</strong>
    <%= specimen.collection_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Identified by:</strong>
    <%= specimen.identified_by %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date identified:</strong>
    <%= specimen.date_identified %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Collecter:</strong>
    <%= specimen.collecter %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= specimen.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Month:</strong>
    <%= specimen.month %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Day:</strong>
    <%= specimen.day %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sex:</strong>
    <%= specimen.sex %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Preparation type:</strong>
    <%= specimen.preparation_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Disposition:</strong>
    <%= specimen.disposition %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sampling protocol:</strong>
    <%= specimen.sampling_protocol %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sampling effort:</strong>
    <%= specimen.sampling_effort %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lifestage:</strong>
    <%= specimen.lifestage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Establishment means:</strong>
    <%= specimen.establishment_means %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rights:</strong>
    <%= specimen.rights %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= specimen.note %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image1:</strong>
    <%= specimen.image1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image2:</strong>
    <%= specimen.image2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image3:</strong>
    <%= specimen.image3 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image4:</strong>
    <%= specimen.image4 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image5:</strong>
    <%= specimen.image5 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Collect point info:</strong>
    <%= specimen.collect_point_info_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Collection settings info:</strong>
    <%= specimen.collection_settings_info_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Custom taxon info:</strong>
    <%= specimen.custom_taxon_info_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Default taxon info:</strong>
    <%= specimen.default_taxon_info_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tour:</strong>
    <%= specimen.tour_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= specimen.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Allow kojin shuzo:</strong>
    <%= specimen.allow_kojin_shuzo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Published kojin shuzo:</strong>
    <%= specimen.published_kojin_shuzo %>
  </p>

</div>
