<%= turbo_frame_tag "content-zone" do %>
  <div class="w-full">

    <% content_for :institution_code, "custom_taxa" %>

    <div class="flex justify-between items-center mb-2">
      <h1 class="font-bold text-xl">カスタム分類🏷️</h1>

      <div>
        <% if notice.present? %>
          <p class="left-1/2 py-2 px-3 bg-green-50 mb-5 text-green-500 text-sm rounded-lg inline-block z-50" id="flash-message" data-controller="flash"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="left-1/2 py-2 px-3 bg-red-50 mb-5 text-red-500 text-sm rounded-lg inline-block z-50" id="flash-message" data-controller="flash"><%= alert %></p>
        <% end %>
      </div>

      <div class="my-4 flex gap-4">
        <%= link_to "⬇️ CSVをDL", export_csv_custom_taxa_path(q: params[:q]),
          class: "text-sm rounded-lg py-3 px-5 normal-button text-black block font-medium",
          data: { turbo: false } %>

        <%= link_to "⬇️ Excel用CSVをDL", export_csv_excel_custom_taxa_path(q: params[:q]),
          class: "text-sm rounded-lg py-3 px-5 normal-button text-black block font-medium",
          data: { turbo: false } %>

        <%= link_to "作成", new_custom_taxon_path,
          class: "text-sm rounded-lg py-3 px-5 submit-button text-white block font-medium",
          data: { turbo_frame: "content-zone", turbo_action: "advance" }
        %>
      </div>
    </div>

    <%= render "shared/accent_copy" %>

    <div
      data-controller="filter-choice"
      data-filter-choice-model-name-value="custom_taxon"
      data-default-visible-fields="<%= ['all_taxon_name_cont'].to_json %>"
    >
      <div>
        <div class="relative inline-block">
          <!-- ボタンをクリックでドロップダウンをトグル -->
          <button class="normal-button text-sm px-2 py-1 rounded-md border border-gray" data-action="click->filter-choice#toggleDropdown" data-filter-choice-target="toggleButton">
            検索項目を選択 ▼
          </button>

          <!-- ドロップダウンメニュー -->
          <div class="text-xs absolute top-full left-0 normal-button shadow-lg border p-2 hidden bg-[#E9F5F8] z-50 whitespace-nowrap"
               data-filter-choice-target="dropdown"
               data-action="click->filter-choice#keepDropdownOpen">
               <% columns = {
                 all_taxon_name_cont: '学名・和名あいまい',
                 kingdom_cont: '界(部分一致)',
                 kingdom_eq: '界(完全一致)',
                 phylum_cont: '門(部分一致)',
                 phylum_eq: '門(完全一致)',
                 class_name_cont: '鋼(部分一致)',
                 class_name_eq: '鋼(完全一致)',
                 order_cont: '目(部分一致)',
                 order_eq: '目(完全一致)',
                 suborder_cont: '亜目(部分一致)',
                 suborder_eq: '亜目(完全一致)',
                 family_cont: '科(部分一致)',
                 family_eq: '科(完全一致)',
                 subfamily_cont: '亜科(部分一致)',
                 subfamily_eq: '亜科(完全一致)',
                 tribe_cont: '族(部分一致)',
                 tribe_eq: '族(完全一致)',
                 subtribe_cont: '亜族(部分一致)',
                 subtribe_eq: '亜族(完全一致)',
                 genus_cont: '属(部分一致)',
                 genus_eq: '属(完全一致)',
                 subgenus_cont: '亜属(部分一致)',
                 subgenus_eq: '亜属(完全一致)',
                 species_cont: '種(部分一致)',
                 species_eq: '種(完全一致)',
                 subspecies_cont: '亜種(部分一致)',
                 subspecies_eq: '亜種(完全一致)',
                 scientific_name_author_cont: '記載者(部分一致)',
                 scientific_name_author_eq: '記載者(完全一致)',
                 name_publishedin_year_eq: '記載年(完全一致)',
                 name_publishedin_year_gteq: '記載年(指定値以上)',
                 name_publishedin_year_lteq: '記載年(指定値以下)',
                 actual_dist_year_eq: '記載実流通年(完全一致)',
                 actual_dist_year_gteq: '記載実流通年(指定値以上)',
                 actual_dist_year_lteq: '記載実流通年(指定値以下)',
                 japanese_name_cont: '和名(部分一致)',
                 japanese_name_eq: '和名(完全一致)',
                 distribution_cont: '分布(部分一致)',
                 distribution_eq: '分布(完全一致)',
                 created_at_date_eq: '作成日時(日付一致)',
                 note_cont: '備考(部分一致)'
              } %>
              <% columns.each do |col, name| %>
                <div>
                  <label>
                    <input
                      type="checkbox"
                      name="columns[]"
                      class="m-1"
                      data-action="change->filter-choice#updateFilter"
                      value="<%= col %>"
                    >
                    <%= name %>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="border border-gray-300 rounded-lg mb-4 p-2 text-sm overflow-x-auto shadow-lg rounded-lg">
          <%= search_form_for @search,
            html: {
              data: {
                turbo_frame: "data_table",
                controller: "incremental-search",
                action: "input->incremental-search#submit",
                turbo_action: "advance"
              }
            } do |form| %>
            <div class="my-2">
              <%= form.submit class: "text-sm rounded-lg py-1 px-2 normal-button inline-block cursor-pointer", data: {turbo_action: "advance"} %>
              <%= link_to 'クリア', url_for + "?cancel_filter=true", class: "text-sm rounded-lg py-1 px-2 normal-button inline-block cursor-pointer", data: {turbo_action: "advance", turbo_prefetch: false} %>
            </div>

            <div class="flex flex-wrap gap-4">
              <div class="w-[200px] hidden" data-filter-choice-field id="all_taxon_name_cont">
                <%= form.label '学名・和名あいまい', class: "block" %>
                <%= form.search_field :all_taxon_all_taxon_name_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="kingdom_cont">
                <%= form.label '界(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_kingdom_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="kingdom_eq">
                <%= form.label '界(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_kingdom_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="phylum_cont">
                <%= form.label '門(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_phylum_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="phylum_eq">
                <%= form.label '門(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_phylum_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="class_name_cont">
                <%= form.label '綱(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_class_name_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="class_name_eq">
                <%= form.label '綱(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_class_name_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="order_cont">
                <%= form.label '目(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_order_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="order_eq">
                <%= form.label '目(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_order_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="suborder_cont">
                <%= form.label '亜目(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_suborder_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="suborder_eq">
                <%= form.label '亜目(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_suborder_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="family_cont">
                <%= form.label '科(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_family_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="family_eq">
                <%= form.label '科(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_family_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="subfamily_cont">
                <%= form.label '亜科(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_subfamily_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="subfamily_eq">
                <%= form.label '亜科(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_subfamily_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="tribe_cont">
                <%= form.label '族(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_tribe_cont, class: "text-sm block shadow.rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="tribe_eq">
                <%= form.label '族(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_tribe_eq, class: "text-sm block shadow.rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="subtribe_cont">
                <%= form.label '亜族(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_subtribe_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="subtribe_eq">
                <%= form.label '亜族(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_subtribe_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="genus_cont">
                <%= form.label '属(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_genus_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="genus_eq">
                <%= form.label '属(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_genus_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="subgenus_cont">
                <%= form.label '亜属(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_subgenus_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="subgenus_eq">
                <%= form.label '亜属(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_subgenus_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="species_cont">
                <%= form.label '種(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_species_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="species_eq">
                <%= form.label '種(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_species_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="subspecies_cont">
                <%= form.label '亜種(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_subspecies_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="subspecies_eq">
                <%= form.label '亜種(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_subspecies_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="scientific_name_author_cont">
                <%= form.label '記載者(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_scientific_name_author_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="scientific_name_author_eq">
                <%= form.label '記載者(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_scientific_name_author_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="name_publishedin_year_eq">
                <%= form.label '記載年(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_name_publishedin_year_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="name_publishedin_year_gteq">
                <%= form.label '記載年(指定値以上)', class: "block" %>
                <%= form.search_field :all_taxon_name_publishedin_year_gteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="name_publishedin_year_lteq">
                <%= form.label '記載年(指定値以下)', class: "block" %>
                <%= form.search_field :all_taxon_name_publishedin_year_lteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="actual_dist_year_eq">
                <%= form.label '記載実流通年(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_actual_dist_year_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="actual_dist_year_gteq">
                <%= form.label '記載実流通年(指定値以上)', class: "block" %>
                <%= form.search_field :all_taxon_actual_dist_year_gteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="actual_dist_year_lteq">
                <%= form.label '記載実流通年(指定値以下)', class: "block" %>
                <%= form.search_field :all_taxon_actual_dist_year_lteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="japanese_name_cont">
                <%= form.label '和名(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_japanese_name_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="japanese_name_eq">
                <%= form.label '和名(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_japanese_name_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="distribution_cont">
                <%= form.label '分布(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_distribution_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="distribution_eq">
                <%= form.label '分布(完全一致)', class: "block" %>
                <%= form.search_field :all_taxon_distribution_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[150px] hidden" data-filter-choice-field id="created_at_date_eq">
                <%= form.label '作成日時(日付一致)', class: "block" %>
                <%= form.date_field :all_taxon_created_at_date_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="note_cont">
                <%= form.label '備考(部分一致)', class: "block" %>
                <%= form.search_field :all_taxon_note_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div data-controller="bulk-action" data-bulk-action-model-name-value="custom_taxon">
      <div data-controller="validation">
        <div
          data-controller="bulk-update-choice"
          data-bulk-update-choice-model-name-value="custom_taxon"
          data-default-bulk-update-choice-fields="<%= [].to_json %>"
        >
          <div class="border border-gray-300 rounded-lg mb-4 p-2 text-sm shadow-lg rounded-lg">
            <div class="text-xs">
              <p class="text-sm text-red-600 font-medium">⚠一括操作は危険です。</p>
              <p>旧システムでは複数ページの一括選択が可能でしたが、この新システムでは安全確保のため、現在のページに表示されているデータのみを選択可能としました。</p>
              <p>ページの移動や検索によって選択はリセットされます。</p>
              <p>データを選択するまで一括更新/一括削除ボタンは有効になりません。また、一括更新ボタンの場合は、選択した更新対象項目への入力が検証に合格するまで有効になりません。
            </div>

            <p class="m-2">現在の選択件数: <span data-bulk-action-target="selectRowCount">0</span></p>

            <hr class="border border-gray-300">

            <%= form_with(
              url: bulk_delete_custom_taxa_path,
              method: :delete,
              data: {
                action: "submit->bulk-action#bulkDelete",
                turbo_frame: "data_table",
                turbo_action: "advance"
              }
            ) do |form| %>
              <%= form.submit(
                "選択データを一括削除",
                class: "text-sm rounded-lg my-2 py-1 px-2 denger text-white inline-block cursor-pointer",
                data: {
                  bulk_action_target: "bulkDeleteButton",
                  turbo_action: "advance",
                  action: "submit->bulk-action#bulkDelete",
                  turbo_confirm: "一括削除は危険な操作です！\n本当に実行しますか？"
                }
              )%>
              <%= form.hidden_field :bulk_ids, value: "", data: { bulk_action_target: "bulkDeleteIds" } %>
            <% end %>

            <hr class="mb-2 border border-gray-300">

            <div class="relative inline-block">
              <!-- ボタンをクリックでドロップダウンをトグル -->
              <button class="normal-button text-sm px-2 py-1 rounded-md border border-gray" data-action="click->bulk-update-choice#toggleDropdown" data-bulk-update-choice-target="toggleButton">
                一括更新項目を選択 ▼
              </button>
              <!-- ドロップダウンメニュー -->
              <div class="text-xs absolute top-full left-0 normal-button shadow-lg border p-2 hidden bg-[#E9F5F8] z-50 whitespace-nowrap"
                   data-bulk-update-choice-target="dropdown"
                   data-action="click->bulk-update-choice#keepDropdownOpen"
              >
              <% columns = {
                 kingdom: '界',
                 phylum: '門',
                 class_name: '鋼',
                 order: '目',
                 suborder: '亜目',
                 family: '科',
                 subfamily: '亜科',
                 tribe: '族',
                 subtribe: '亜族',
                 genus: '属',
                 subgenus: '亜属',
                 species: '種',
                 subspecies: '亜種',
                 scientific_name_author: '記載者',
                 name_publishedin_year: '記載年',
                 actual_dist_year: '記載実流通年',
                 japanese_name: '和名',
                 distribution: '分布',
                 note: '備考'
              } %>
                <% columns.each do |col, name| %>
                  <div>
                    <label>
                      <input
                        type="checkbox"
                        name="bulk-update-fields[]"
                        data-action="change->bulk-update-choice#updateChoice change->validation#toggleSubmitButton"
                        class="m-1"
                        value="<%= col %>"
                      >
                      <%= name %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>

            <%= form_with(
              url: bulk_update_custom_taxa_path,
              method: :patch,
              data: {
                action: "submit->bulk-action#bulkUpdate input->bulk-action#zeroSelectDisabledBulkUpdate",
                turbo_frame: "data_table",
                turbo_action: "advance"
              }
            ) do |form| %>
              <%= form.submit(
                "選択データを一括更新",
                class: "text-sm rounded-lg my-2 py-1 px-2 submit-button text-white cursor-pointer",
                data: {
                  bulk_action_target: "bulkUpdateButton",
                  validation_target: "submit",
                  turbo_action: "advance",
                  action: "submit->bulk-action#bulkUpdate",
                  turbo_confirm: "一括更新は危険な操作です！\n本当に実行しますか？"
                }
              )%>
              <%= form.hidden_field :bulk_ids, value: "", data: { bulk_action_target: "bulkIds" } %>
              <%= form.hidden_field :bulk_columns, value: "", data: { bulk_action_target: "bulkColumns" } %>
              <div class="flex flex-wrap gap-4">
                <div class="w-[200px]" data-bulk-update-choice-field id="kingdom">
                  <%= form.label '界', class: "block" %>
                  <%= form.text_field(
                    :kingdom,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "kingdom",
                      validation_required: "false",
                      validation_regex: "^([A-Z][a-z]+)?$",
                      validation_message_regex: "先頭のみ大文字の半角アルファベット1単語にしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="phylum">
                  <%= form.label '門', class: "block" %>
                  <%= form.text_field(
                    :phylum,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "phylum",
                      validation_required: "false",
                      validation_regex: "^([A-Z][a-z]+)?$",
                      validation_message_regex: "先頭のみ大文字の半角アルファベット1単語にしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="class_name">
                  <%= form.label '鋼', class: "block" %>
                  <%= form.text_field(
                    :class_name,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "class_name",
                      validation_required: "false",
                      validation_regex: "^([A-Z][a-z]+)?$",
                      validation_message_regex: "先頭のみ大文字の半角アルファベット1単語にしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="order">
                  <%= form.label '目', class: "block" %>
                  <%= form.text_field(
                    :order,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "order",
                      validation_required: "false",
                      validation_regex: "^([A-Z][a-z]+)?$",
                      validation_message_regex: "先頭のみ大文字の半角アルファベット1単語にしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="suborder">
                  <%= form.label '亜目', class: "block" %>
                  <%= form.text_field(
                    :suborder,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "suborder",
                      validation_required: "false",
                      validation_regex: "^([A-Z][a-z]+)?$",
                      validation_message_regex: "先頭のみ大文字の半角アルファベット1単語にしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="family">
                  <%= form.label '科', class: "block" %>
                  <%= form.text_field(
                    :family,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "family",
                      validation_required: "false",
                      validation_regex: "^([A-Z][a-z]+)?$",
                      validation_message_regex: "先頭のみ大文字の半角アルファベット1単語にしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="subfamily">
                  <%= form.label '亜科', class: "block" %>
                  <%= form.text_field(
                    :subfamily,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "subfamily",
                      validation_required: "false",
                      validation_regex: "^([A-Z][a-z]+)?$",
                      validation_message_regex: "先頭のみ大文字の半角アルファベット1単語にしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="tribe">
                  <%= form.label '族', class: "block" %>
                  <%= form.text_field(
                    :tribe,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "tribe",
                      validation_required: "false",
                      validation_regex: "^([A-Z][a-z]+)?$",
                      validation_message_regex: "先頭のみ大文字の半角アルファベット1単語にしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="subtribe">
                  <%= form.label '亜族', class: "block" %>
                  <%= form.text_field(
                    :subtribe,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "subtribe",
                      validation_required: "false",
                      validation_regex: "^([A-Z][a-z]+)?$",
                      validation_message_regex: "先頭のみ大文字の半角アルファベット1単語にしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="genus">
                  <%= form.label '属', class: "block" %>
                  <%= form.text_field(
                    :genus,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "genus",
                      validation_required: "false",
                      validation_regex: "^([A-Z][a-z]+)?$",
                      validation_message_regex: "先頭のみ大文字の半角アルファベット1単語にしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="subgenus">
                  <%= form.label '亜属', class: "block" %>
                  <%= form.text_field(
                    :subgenus,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "subgenus",
                      validation_required: "false",
                      validation_regex: "^([A-Z][a-z]+)?$",
                      validation_message_regex: "先頭のみ大文字の半角アルファベット1単語にしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="species">
                  <%= form.label '種', class: "block" %>
                  <%= form.text_field(
                    :species,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "species",
                      validation_required: "false",
                      validation_regex: "^[a-z-]*$",
                      validation_message_regex: "半角小文字アルファベットとハイフンのみ使用可能です",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="subspecies">
                  <%= form.label '亜種', class: "block" %>
                  <%= form.text_field(
                    :subspecies,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "subspecies",
                      validation_required: "false",
                      validation_regex: "^[a-z-]*$",
                      validation_message_regex: "半角小文字アルファベットとハイフンのみ使用可能です",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="scientific_name_author">
                  <%= form.label '記載者', class: "block" %>
                  <%= form.text_field(
                    :scientific_name_author,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "scientific_name_author",
                      validation_required: "false",
                      validation_min_length: "0",
                      validation_max_length: "50",
                      validation_message_length: "50文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="name_publishedin_year">
                  <%= form.label '記載年', class: "block" %>
                  <%= form.number_field :name_publishedin_year,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "integer",
                      name: "name_publishedin_year",
                      validation_required: "true",
                      validation_message_required: "記載年は必須です(不明な場合は0にしてください)",
                      validation_min_value: 0,
                      validation_min_integer_digits: 1,
                      validation_max_integer_digits: 10000,
                      validation_message_integer: "0以上の整数で入力してください"
                    }
                  %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="actual_dist_year">
                  <%= form.label '記載実流通年', class: "block" %>
                  <%= form.number_field :actual_dist_year,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "integer",
                      name: "actual_dist_year",
                      validation_required: "true",
                      validation_message_required: "記載実流通年は必須です(不明な場合は0にしてください)",
                      validation_min_value: 0,
                      validation_min_integer_digits: 1,
                      validation_max_integer_digits: 10000,
                      validation_message_integer: "0以上の整数で入力してください"
                    }
                  %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="japanese_name">
                  <%= form.label '和名', class: "block" %>
                  <%= form.text_field(
                    :japanese_name,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "japanese_name",
                      validation_required: "false",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="distribution">
                  <%= form.label '分布', class: "block" %>
                  <%= form.text_field(
                    :distribution,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "distribution",
                      validation_required: "false",
                      validation_min_length: "0",
                      validation_max_length: "500",
                      validation_message_length: "500文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>


                <div class="w-[200px]" data-bulk-update-choice-field id="note">
                  <%= form.label '備考', class: "block" %>
                  <%= form.text_area(
                    :note,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {validation_target: "input",
                      validation_type: "string",
                      name: "note",
                      validation_max_length: "500",
                      validation_message_length: "備考は500文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div
          data-controller="table-column"
          data-mobile-default-visible-columns="<%= ['scientific_and_japanese_name'].to_json %>"
          data-default-visible-columns="<%= ['order', 'family', 'scientific_and_japanese_name'].to_json %>"
          data-table-column-model-name-value="custom_taxon"
        >
          <div>
            <div class="relative inline-block">
              <!-- ボタンをクリックでドロップダウンをトグル -->
              <button class="normal-button text-sm px-2 py-1 rounded-md border border-gray" data-action="click->table-column#toggleDropdown" data-table-column-target="toggleButton">
                表示項目を選択 ▼
              </button>
              <span class="text-sm px-2">列名クリックで並べ替え</span>

              <!-- ドロップダウンメニュー -->
              <div class="text-xs absolute top-full left-0 normal-button shadow-lg border p-2 hidden bg-[#E9F5F8] z-50 whitespace-nowrap"
                   data-table-column-target="dropdown"
                   data-action="click->table-column#keepDropdownOpen">
                  <% columns = {
                     scientific_and_japanese_name: '学名 + 和名',
                     kingdom: '界',
                     phylum: '門',
                     class_name: '鋼',
                     order: '目',
                     suborder: '亜目',
                     family: '科',
                     subfamily: '亜科',
                     tribe: '族',
                     subtribe: '亜族',
                     genus: '属',
                     subgenus: '亜属',
                     species: '種',
                     subspecies: '亜種',
                     scientific_name_author: '記載者',
                     name_publishedin_year: '記載年',
                     actual_dist_year: '記載実流通年',
                     japanese_name: '和名',
                     distribution: '分布',
                     note: '備考',
                     created_at: '作成日時'
                  } %>
                  <% columns.each do |col, name| %>
                    <div>
                      <label>
                        <input
                          type="checkbox"
                          name="columns[]"
                          class="m-1"
                          data-action="change->table-column#updateColumn"
                          value="<%= col %>"
                        >
                        <%= name %>
                      </label>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <%= turbo_frame_tag "data_table", data: {action: "turbo:frame-load->bulk-action#resetSelectDisplay"} do %>
              <%= paginate @custom_taxa %>
              <div class="overflow-x-auto shadow-lg rounded-lg">
                <table class="text-sm min-w-full table-auto border-collapse">
                  <thead data-table-column-target="tableHead" style="display: none">
                    <tr class="column-names">
                      <th class="text-sm px-4 py-2 border border-gray-300 text-center w-8">
                        <input
                          type="checkbox"
                          name="selectRows[]"
                          data-action="change->bulk-action#updateAllRow change->validation#toggleSubmitButton change->bulk-action#zeroSelectDisabledBulkUpdate"
                          data-bulk-action-target="selectAllRow"
                          id="selectAllRow"
                        >
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="kingdom">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'kingdom', direction: toggle_direction('kingdom')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          界
                          <%= sort_icon('kingdom') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="phylum">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'phylum', direction: toggle_direction('phylum')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          門
                          <%= sort_icon('phylum') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="class_name">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'class_name', direction: toggle_direction('class_name')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          鋼
                          <%= sort_icon('class_name') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="order">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'order', direction: toggle_direction('order')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          目
                          <%= sort_icon('order') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="suborder">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'suborder', direction: toggle_direction('suborder')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          亜目
                          <%= sort_icon('suborder') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="family">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'family', direction: toggle_direction('family')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          科
                          <%= sort_icon('family') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="subfamily">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'subfamily', direction: toggle_direction('subfamily')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          亜科
                          <%= sort_icon('subfamily') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="tribe">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'tribe', direction: toggle_direction('tribe')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          族
                          <%= sort_icon('tribe') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="subtribe">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'subtribe', direction: toggle_direction('subtribe')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          亜族
                          <%= sort_icon('subtribe') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="genus">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'genus', direction: toggle_direction('genus')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          属
                          <%= sort_icon('genus') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="subgenus">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'subgenus', direction: toggle_direction('subgenus')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          亜属
                          <%= sort_icon('subgenus') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="species">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'species', direction: toggle_direction('species')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          種
                          <%= sort_icon('species') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="subspecies">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'subspecies', direction: toggle_direction('subspecies')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          亜種
                          <%= sort_icon('subspecies') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="scientific_name_author">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'scientific_name_author', direction: toggle_direction('scientific_name_author')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          記載者
                          <%= sort_icon('scientific_name_author') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="name_publishedin_year">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'name_publishedin_year', direction: toggle_direction('name_publishedin_year')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          記載年
                          <%= sort_icon('name_publishedin_year') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="actual_dist_year">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'actual_dist_year', direction: toggle_direction('actual_dist_year')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          記載実流通年
                          <%= sort_icon('actual_dist_year') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="japanese_name">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'japanese_name', direction: toggle_direction('japanese_name')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          和名
                          <%= sort_icon('japanese_name') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="scientific_and_japanese_name">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'scientific_and_japanese_name', direction: toggle_direction('scientific_and_japanese_name')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          学名 + 和名
                          <%= sort_icon('scientific_and_japanese_name') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="distribution">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'distribution', direction: toggle_direction('distribution')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          分布
                          <%= sort_icon('distribution') %>
                        <% end %>
                      </th>

                      <th class="px-4 py-2 border border-gray-300 text-left hidden" data-table-column-visible-columns id="created_at">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'created_at', direction: toggle_direction('created_at')), class: "font-bold  flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          作成日時
                          <%= sort_icon('created_at') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left hidden" data-table-column-visible-columns id="note">
                        <%= link_to custom_taxa_url_with_ranmemory(sort: 'note', direction: toggle_direction('note')), class: "font-bold  flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          備考
                          <%= sort_icon('note') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left">操作</th>
                    </tr>
                  </thead>
                  <tbody data-table-column-target="tableBody" style="display: none">
                    <% @custom_taxa.each do |custom_taxon| %>
                      <tr id="custom_taxon_<%= custom_taxon.id %>" class="row-hover">
                        <!-- turbo_stream_from で削除対象の行を監視 -->
                        <%= turbo_stream_from "custom_taxon_#{custom_taxon.id}" %>
                        <td class="text-sm px-4 py-1 border border-gray-300 text-center w-8">
                          <input
                            type="checkbox"
                            name="selectRows[]"
                            value="<%= custom_taxon.id %>"
                            data-bulk-action-target="selectRow"
                            data-action="change->bulk-action#updateSelectRow change->validation#toggleSubmitButton change->bulk-action#zeroSelectDisabledBulkUpdate"
                            id="bulk-action-select-row-<%= custom_taxon.id %>"
                          >
                        </td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="kingdom"><%= custom_taxon.kingdom %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="phylum"><%= custom_taxon.phylum %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="class_name"><%= custom_taxon.class_name %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="order"><%= custom_taxon.order %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="suborder"><%= custom_taxon.suborder %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="family"><%= custom_taxon.family %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="subfamily"><%= custom_taxon.subfamily %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="tribe"><%= custom_taxon.tribe %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="subtribe"><%= custom_taxon.subtribe %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="genus"><%= custom_taxon.genus %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="subgenus"><%= custom_taxon.subgenus %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="species"><%= custom_taxon.species %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="subspecies"><%= custom_taxon.subspecies %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="scientific_name_author"><%= custom_taxon.scientific_name_author %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="name_publishedin_year"><%= custom_taxon.name_publishedin_year %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="actual_dist_year"><%= custom_taxon.actual_dist_year %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="japanese_name"><%= custom_taxon.japanese_name %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="scientific_and_japanese_name"><%= custom_taxon.scientific_and_japanese_name %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="distribution"><%= custom_taxon.distribution %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300 hidden" data-table-column-visible-columns id="created_at"><%= custom_taxon.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300 hidden" data-table-column-visible-columns id="note"><%= custom_taxon.note %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300">
                          <div class="flex gap-3 flex-col sm:flex-row">
                            <!-- 詳細リンク (ページ遷移) -->
                            <%= link_to "詳細", custom_taxon, class: "rounded-lg py-1 px-3 text-sm normal-button text-center",
                              data: { turbo_frame: "content-zone", turbo_action: "advance" } %>

                            <!-- 編集リンク (ページ遷移) -->
                            <%= link_to "編集", edit_custom_taxon_path(custom_taxon), class: "rounded-lg py-1 px-3 text-sm normal-button text-center",
                              data: { turbo_frame: "content-zone", turbo_action: "advance" } %>

                            <!-- 複製リンク (ページ遷移) -->
                            <%= link_to "複製", new_custom_taxon_path(base_id: custom_taxon.id), class: "rounded-lg py-1 px-3 text-sm normal-button text-center",
                              data: { turbo_frame: "content-zone", turbo_action: "advance" } %>
                            <!-- 削除リンク (Turbo Stream で削除) -->
                            <%= link_to "削除", custom_taxon_path(custom_taxon), method: :delete, class: "rounded-lg py-1 px-3 denger text-white text-sm text-center",
                              data: { turbo_confirm: "本当に削除しますか?", turbo_method: :delete, turbo_stream: "custom_taxon_#{custom_taxon.id}" } %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <% if @custom_taxa.empty? %>
                <div class="m-12">
                  データが見つかりませんでした
                </div>
              <% end %>
              <div data-table-column-target="paginate" class="hidden">
                <%= paginate @custom_taxa %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
