<%= turbo_frame_tag "content-zone" do %>
  <div class="px-4 md:px-10 lg:px-20 py-4 max-w-screen-xl mx-auto">
    <div class="mx-auto">
      <% if notice.present? %>
        <p class="py-1 px-3 bg-green-50 mb-5 text-green-500  rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>

      <h1 class="font-bold text-lg">カスタム分類の詳細</h1>

      <div class="my-2">
        <%= link_to "一覧に戻る", custom_taxa_url_with_ranmemory,
          class: "mt-2 rounded-lg py-1 px-2 inline-block normal-button",
          data: { turbo_frame: "content-zone", turbo_action: "advance" }
        %>
      </div>

      <%= render @custom_taxon %>

      <%= link_to "一覧に戻る", custom_taxa_url_with_ranmemory,
        class: "mt-2 rounded-lg py-1 px-2 inline-block normal-button",
        data: { turbo_frame: "content-zone", turbo_action: "advance" }
      %>
      <%= link_to "編集", edit_custom_taxon_path(@custom_taxon),
        class: "mt-2 rounded-lg py-1 px-2 inline-block normal-button",
        data: { turbo_frame: "content-zone", turbo_action: "advance" }
      %>
      <%= link_to "複製", new_custom_taxon_path(base_id: @custom_taxon.id),
        class: "mt-2 rounded-lg py-1 px-2 inline-block normal-button",
        data: { turbo_frame: "content-zone", turbo_action: "advance" }
      %>
      <%= link_to "削除", custom_taxon_path(@custom_taxon.id), method: :delete,
        class: "mt-2 rounded-lg py-1 px-2 inline-block denger",
        data: {turbo_confirm: "本当に削除しますか?", turbo_method: :delete, turbo_action: "advance"}
      %>
    </div>
  </div>
<% end %>
