<% (1..5).each do |i| %>
  <div class="my-10">
    <%= form.label "画像#{i}" %>
    <div class="border border-gray-500 rounded-lg p-4 w-auto">
      <div>
        <%= form.file_field "image#{i}", data: { controller: "preview", action: "change->preview#preview", index: i } %>
      </div>
      <div data-container="preview">
        <div class="my-2">
          <button type="button"
                  id="cancel_button<%= i %>"
                  data-controller="preview"
                  data-action="click->preview#cancel"
                  data-index="<%= i %>"
                  class="hidden inline-block px-4 py-2 bg-gray-200 text-black rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500">
            アップロードを取り消し
          </button>
        </div>
      </div>
      <% if model.send("image#{i}").present? %>
        <div>
          <%= form.check_box "remove_image#{i}" %>
          <%= form.label "remove_image#{i}", "削除" %>
        </div>
        <div class="img-container">
          <img
            id="preview_image<%= i %>"
            src="<%= model.send("image#{i}").url %>"
            alt="画像#{i}"
            class="thumbnail"
            data-original-src="<%= model.send("image#{i}").url %>">
        </div>
      <% else %>
        <img
          id="preview_image<%= i %>"
          src=""
          alt="画像#{i}"
          class="thumbnail hidden">
      <% end %>
    </div>
  </div>
<% end %>
