<%= form_with(model: tour, class: "contents") do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
        <% tour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label 'タイトル' %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label '開始日' %>
    <%= form.date_field :start_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label '終了日' %>
    <%= form.date_field :end_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label '備考' %>
    <%= form.text_area :note, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% (1..5).each do |i| %>
    <div class="my-10">
      <%= form.label "画像#{i}" %>
      <div>
        <%= form.file_field "image#{i}", data: { controller: "preview", action: "change->preview#preview", index: i } %>
      </div>
      <% if tour.send("image#{i}").present? %>
        <div>
          <%= form.check_box "remove_image#{i}" %>
          <%= form.label "remove_image#{i}", "削除" %>
        </div>
        <div class="img-container">
          <img id="preview_image<%= i %>" src="<%= tour.send("image#{i}").url %>" alt="画像#{i}" class="img-limited">
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
