<%= form_with(model: tour, class: "contents", data: {controller: "validation"}) do |form| %>
  <% create_mode = create_mode.present? ? create_mode : false %>
  <% if tour.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-2 py-1 font-medium rounded-lg mt-3">
      <h2><%= pluralize(tour.errors.count, "error") %>つのエラーが発生しました:</h2>

      <ul>
        <% tour.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 text-sm" >
    <div>
      <% if create_mode %>
        <div class="my-5">
          <%= form.label '同一データでの作成数(最大50)' %>
          <%= form.text_field :bulk_create_num,
            value: 1,
            class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
            data: {validation_target: "input",
                   validation_type: "integer",
                   name: "bulk_create_num",
                   validation_required: "true",
                   validation_message_required: "作成数は必須です",
                   validation_min_value: 1,
                   validation_max_value: 50,
                   validation_min_integer_digits: 1,
                   validation_max_integer_digits: 4,
                   validation_message_integer: "作成数は整数で入力し、1以上50以下にしてください"
            }
          %>
          <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
        </div>
      <% end %>

      <div class="my-5">
        <%= form.label 'タイトル' %>
        <%= form.text_field :title,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {validation_target: "input",
                 validation_type: "string",
                 name: "title",
                 validation_required: "true",
                 validation_message_required: "タイトルは必須です",
                 validation_max_length: "30",
                 validation_message_length: "タイトルは30文字以下にしてください"
          }
        %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '開始日' %>
        <%= form.date_field :start_date,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {validation_target: "input",
                 validation_type: "date",
                 name: "start_date",
                 validation_required: "true",
                 validation_message_required: "開始日は必須です",
                 validation_message_invalid: "無効な日付です"
          }
        %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '終了日' %>
        <%= form.date_field :end_date,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {validation_target: "input",
                 validation_type: "date",
                 name: "end_date",
                 validation_required: "true",
                 validation_message_required: "終了日は必須です",
                 validation_message_invalid: "無効な日付です"
          }
        %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '備考' %>
        <%= form.text_area :note,
          rows: 4,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {validation_target: "input",
                 validation_type: "string",
                 name: "note",
                 validation_max_length: "200",
                 validation_message_length: "備考は200文字以下にしてください"
          }
        %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>
    </div>

    <div>
      <%= render "shared/image_upload", form: form, model: @tour %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg mt-2 py-1 px-2 submit-button text-white inline-block cursor-pointer btn btn-primary", data: {validation_target: "submit", turbo_action: "advance"} %>
  </div>
<% end %>
