<div id="<%= dom_id tour %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">ID:</strong>
    <%= tour.id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">タイトル:</strong>
    <%= tour.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">開始日:</strong>
    <%= tour.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">終了日:</strong>
    <%= tour.end_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">備考:</strong>
    <%= simple_format(tour.note) %>
  </p>

  <%= render partial: "shared/image_modal", locals: {model: tour} %> 

  <p class="my-5">
    <strong class="block font-medium mb-1">作成日時:</strong>
    <%= tour.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
  </p>
</div>
