<div id="<%= dom_id tour %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= tour.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= tour.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End date:</strong>
    <%= tour.end_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Track:</strong>
    <%= tour.track %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= tour.note %>
  </p>

  <%= render partial: "shared/image_modal", locals: {model: tour} %> 

</div>
