<%= turbo_frame_tag "content-zone" do %>
  <div class="w-full">
    <div id="flash-space" class="fixed top-5 right-5 w-80"></div>
    <%= yield %>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="flash-message" data-controller="flash"><%= notice %></p>
    <% end %>

    <% content_for :title, "Tours" %>

    <div class="flex justify-between items-center mb-4">
      <h1 class="font-bold text-2xl">採集行</h1>
      <%= link_to "作成", new_tour_path,
        class: "text-sm rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium",
        data: { turbo_frame: "content-zone", turbo_action: "advance" }
      %>
    </div>

    <%= search_form_for @search do |form| %>
      <div class="my-2">
      <%= form.submit class: "text-sm rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer btn btn-primary" %>
      <%= link_to "クリア", tours_path, class: "text-sm rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer btn btn-primary" %>
      </div>

      <div class="flex flex-wrap gap-4">
        <div class="w-[400px]">
          <%= form.label :id, 'ID', class: "block" %>
          <%= form.search_field :id_eq, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
        <div class="w-[300px]">
          <%= form.label 'タイトル(あいまい)', class: "block" %>
          <%= form.search_field :title_cont, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
        <div class="w-[300px]">
          <%= form.label 'タイトル(完全一致)', class: "block" %>
          <%= form.search_field :title_eq, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
        <div class="w-[150px]">
          <%= form.label '開始日(完全一致)', class: "block" %>
          <%= form.date_field :start_date_eq, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
        <div class="w-[150px]">
          <%= form.label '終了日(完全一致)', class: "block" %>
          <%= form.date_field :end_date_eq, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
      </div>
    <% end %>

    <div class="my-4">
      <div class="overflow-x-auto shadow-lg rounded bg-white">
        <%= turbo_frame_tag "tour_table" do %>
          <table class="text-sm min-w-full table-auto border-collapse">
            <thead>
              <tr class="bg-gray-100">
                <th class="px-4 py-2 border border-gray-300 text-left">
                  <%= link_to tours_path(sort: 'id', direction: toggle_direction('id')), class: "font-bold text-blue-600 flex items-center" do %>
                    ID
                    <%= sort_icon('id') %>
                  <% end %>
                </th>
                <th class="px-4 py-2 border border-gray-300 text-left">
                  <%= link_to tours_path(sort: 'title', direction: toggle_direction('title')), class: "font-bold text-blue-600 flex items-center" do %>
                    タイトル
                    <%= sort_icon('title') %>
                  <% end %>
                </th>
                <th class="px-4 py-2 border border-gray-300 text-left">
                  <%= link_to tours_path(sort: 'start_date', direction: toggle_direction('start_date')), class: "font-bold text-blue-600 flex items-center" do %>
                    開始日
                    <%= sort_icon('start_date') %>
                  <% end %>
                </th>
                <th class="px-4 py-2 border border-gray-300 text-left">
                  <%= link_to tours_path(sort: 'end_date', direction: toggle_direction('end_date')), class: "font-bold text-blue-600 flex items-center" do %>
                    終了日
                    <%= sort_icon('end_date') %>
                  <% end %>
                </th>
                <th class="px-4 py-2 border border-gray-300 text-left">
                  <%= link_to tours_path(sort: 'created_at', direction: toggle_direction('created_at')), class: "font-bold text-blue-600 flex items-center" do %>
                    更新日時
                    <%= sort_icon('created_at') %>
                  <% end %>
                </th>
                <th class="px-4 py-2 border border-gray-300 text-left">操作</th>
              </tr>
            </thead>
            <tbody>
              <%= render 'tour_rows' %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>

    <%= paginate @tours %>
  </div>
<% end %>
