<%= turbo_frame_tag "content-zone" do %>
  <div class="w-full">
    <div id="flash-space" class="fixed top-5 right-5 w-80"></div>
    <%= yield %>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="flash-message" data-controller="flash"><%= notice %></p>
    <% end %>

    <% content_for :title, "Tours" %>

    <div class="flex justify-between items-center mb-4">
      <h1 class="font-bold text-xl">採集行</h1>
      <%= link_to "作成", new_tour_path,
        class: "text-sm rounded-lg py-3 px-5 submit-button text-white block font-medium",
        data: { turbo_frame: "content-zone", turbo_action: "advance" }
      %>
    </div>

    <div
      data-controller="filter-choice"
      data-default-visible-fields="<%= ['title_cont'].to_json %>"
    >
      <div class="my-4">
        <div class="relative inline-block">
          <!-- ボタンをクリックでドロップダウンをトグル -->
          <button class="normal-button text-sm px-4 py-2 rounded-md border border-gray" data-action="click->filter-choice#toggleDropdown">
            検索項目を選択 ▼
          </button>

          <!-- ドロップダウンメニュー -->
          <div class="absolute top-full left-0 normal-button shadow-lg border p-4 hidden bg-[#E9F5F8] z-50 whitespace-nowrap"
               data-filter-choice-target="dropdown"
               data-action="click->filter-choice#keepDropdownOpen">
              <% columns = { title_cont: 'タイトル(部分一致)', title_eq: 'タイトル(完全一致)', start_date_eq: '開始日(完全一致)', end_date_eq: '終了日(完全一致)', created_at_date_eq: '更新日時(日付一致)', note_cont: '備考(部分一致)' } %>
              <% columns.each do |col, name| %>
                <div>
                  <label>
                    <input
                      type="checkbox"
                      name="columns[]"
                      data-action="change->filter-choice#updateFilter"
                      value="<%= col %>" <%= @visible_columns.include?(col.to_s) ? 'checked' : ''
                    %>>
                    <%= name %>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="border border-gray-300 rounded-lg mb-8 p-4 text-sm overflow-x-auto shadow-lg rounded-lg">
          <%= search_form_for @search do |form| %>
            <div class="my-2">
              <%= form.submit class: "text-sm rounded-lg py-2 px-2 normal-button inline-block font-medium cursor-pointer btn btn-primary" %>
              <%= clear_filter title: "クリア", class: "text-sm rounded-lg py-2 px-2 normal-button inline-block font-medium cursor-pointer btn btn-primary" %>
            </div>

            <div class="flex flex-wrap gap-4">
              <div class="w-[200px] hidden" data-filter-choice-field id="title_cont">
                <%= form.label 'タイトル(部分一致)', class: "block" %>
                <%= form.search_field :title_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="title_eq">
                <%= form.label 'タイトル(完全一致)', class: "block" %>
                <%= form.search_field :title_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
              </div>
              <div class="w-[150px] hidden" data-filter-choice-field id="start_date_eq">
                <%= form.label '開始日(完全一致)', class: "block" %>
                <%= form.date_field :start_date_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
              </div>
              <div class="w-[150px] hidden" data-filter-choice-field id="end_date_eq">
                <%= form.label '終了日(完全一致)', class: "block" %>
                <%= form.date_field :end_date_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
              </div>
              <div class="w-[150px] hidden" data-filter-choice-field id="created_at_date_eq">
                <%= form.label '更新日時(日付一致)', class: "block" %>
                <%= form.date_field :created_at_date_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="note_cont">
                <%= form.label '備考(部分一致)', class: "block" %>
                <%= form.search_field :note_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div
      data-controller="table-column"
      data-default-visible-columns="<%= ['title', 'start_date', 'end_date'].to_json %>"
    >
      <div class="my-4">
        <div class="relative inline-block">
          <!-- ボタンをクリックでドロップダウンをトグル -->
          <button class="normal-button text-sm px-4 py-2 rounded-md border border-gray" data-action="click->table-column#toggleDropdown">
            表示項目を選択 ▼
          </button>

          <!-- ドロップダウンメニュー -->
          <div data-controller="table_column">
          <div class="absolute top-full left-0 normal-button shadow-lg border p-4 hidden bg-[#E9F5F8] z-50 whitespace-nowrap"
               data-table-column-target="dropdown"
               data-action="click->table-column#keepDropdownOpen">
              <% columns = { title: 'タイトル', start_date: '開始日', end_date: '終了日', created_at: '更新日時', note: '備考' } %>
              <% columns.each do |col, name| %>
                <div>
                  <label>
                    <input
                      type="checkbox"
                      name="columns[]"
                      data-action="change->table-column#updateColumn"
                      value="<%= col %>" <%= @visible_columns.include?(col.to_s) ? 'checked' : ''
                    %>>
                    <%= name %>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>

      <% if @tours.empty? %>
        <div class="m-12">
          データが見つかりませんでした
        </div>
      <% else %>
        <div class="overflow-x-auto shadow-lg rounded-lg">
          <table class="text-sm min-w-full table-auto border-collapse">
            <thead>
              <tr class="column-names">
                <th class="px-4 py-2 border border-gray-300 text-left hidden" data-table-column-visible-columns id="title">
                  <%= link_to tours_path(sort: 'title', direction: toggle_direction('title')), class: "font-bold flex items-center" do %>
                    タイトル
                    <%= sort_icon('title') %>
                  <% end %>
                </th>
                <th class="px-4 py-2 border border-gray-300 text-left hidden" data-table-column-visible-columns id="start_date">
                  <%= link_to tours_path(sort: 'start_date', direction: toggle_direction('start_date')), class: "font-bold flex items-center" do %>
                    開始日
                    <%= sort_icon('start_date') %>
                  <% end %>
                </th>
                <th class="px-4 py-2 border border-gray-300 text-left hidden" data-table-column-visible-columns id="end_date">
                  <%= link_to tours_path(sort: 'end_date', direction: toggle_direction('end_date')), class: "font-bold  flex items-center" do %>
                    終了日
                    <%= sort_icon('end_date') %>
                  <% end %>
                </th>
                <th class="px-4 py-2 border border-gray-300 text-left hidden" data-table-column-visible-columns id="created_at">
                  <%= link_to tours_path(sort: 'created_at', direction: toggle_direction('created_at')), class: "font-bold  flex items-center" do %>
                    更新日時
                    <%= sort_icon('created_at') %>
                  <% end %>
                </th>
                <th class="px-4 py-2 border border-gray-300 text-left hidden" data-table-column-visible-columns id="note">
                  <%= link_to tours_path(sort: 'note', direction: toggle_direction('note')), class: "font-bold  flex items-center" do %>
                    備考
                    <%= sort_icon('note') %>
                  <% end %>
                </th>
                <th class="px-4 py-2 border border-gray-300 text-left">操作</th>
              </tr>
            </thead>
            <tbody>
              <% @tours.each do |tour| %>
                <tr id="tour_<%= tour.id %>" class="row-hover">
                  <!-- turbo_stream_from で削除対象の行を監視 -->
                  <%= turbo_stream_from "tour_#{tour.id}" %>
                  <td class="px-4 py-2 border border-gray-300 hidden" data-table-column-visible-columns id="title"><%= tour.title %></td>
                  <td class="px-4 py-2 border border-gray-300 hidden" data-table-column-visible-columns id="start_date"><%= tour.start_date %></td>
                  <td class="px-4 py-2 border border-gray-300 hidden" data-table-column-visible-columns id="end_date"><%= tour.end_date %></td>
                  <td class="px-4 py-2 border border-gray-300 hidden" data-table-column-visible-columns id="created_at"><%= tour.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                  <td class="px-4 py-2 border border-gray-300 hidden" data-table-column-visible-columns id="note"><%= tour.note %></td>
                  <td class="px-4 py-2 border border-gray-300">
                    <div class="flex gap-3 flex-col sm:flex-row">
                      <!-- 詳細リンク (ページ遷移) -->
                      <%= link_to "詳細", tour, class: "rounded-lg py-1 px-3 text-sm font-medium normal-button",
                        data: { turbo_frame: "content-zone", turbo_action: "advance" } %>

                      <!-- 編集リンク (ページ遷移) -->
                      <%= link_to "編集", edit_tour_path(tour), class: "rounded-lg py-1 px-3 text-sm font-medium normal-button",
                        data: { turbo_frame: "content-zone", turbo_action: "advance" } %>

                      <!-- 削除リンク (Turbo Stream で削除) -->
                      <%= link_to "削除", tour_path(tour), method: :delete, class: "rounded-lg py-1 px-3 denger text-white text-sm font-medium",
                        data: { turbo_confirm: "本当に削除しますか?", turbo_method: :delete, turbo_stream: "tour_#{tour.id}" } %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
    <%= paginate @tours %>
  </div>
<% end %>
