<%= turbo_frame_tag "content-zone" do %>
  <div class="w-full">
    <div id="flash-space" class="fixed top-5 right-5 w-80"></div>
    <%= yield %>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="flash-message" data-controller="flash"><%= notice %></p>
    <% end %>

    <% content_for :title, "Tours" %>

    <div class="flex justify-between items-center mb-4">
      <h1 class="font-bold text-2xl">採集行</h1>
      <%= link_to "作成", new_tour_path,
        class: "text-sm rounded-lg py-3 px-5 submit-button text-white block font-medium",
        data: { turbo_frame: "content-zone", turbo_action: "advance" }
      %>
    </div>


    <div class="border border-gray-300 rounded-lg mb-8 p-4 text-sm overflow-x-auto shadow-lg rounded-lg">
      <%= search_form_for @search do |form| %>
        <div class="my-2">
          <%= form.submit class: "text-sm rounded-lg py-2 px-2 normal-button inline-block font-medium cursor-pointer btn btn-primary" %>
          <%= clear_filter title: "クリア", class: "text-sm rounded-lg py-2 px-2 normal-button inline-block font-medium cursor-pointer btn btn-primary" %>
        </div>

        <div class="flex flex-wrap gap-4">
          <div class="w-[200px]">
            <%= form.label 'タイトル(あいまい)', class: "block" %>
            <%= form.search_field :title_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
          <div class="w-[200px]">
            <%= form.label 'タイトル(完全一致)', class: "block" %>
            <%= form.search_field :title_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
          <div class="w-[150px]">
            <%= form.label '開始日(完全一致)', class: "block" %>
            <%= form.date_field :start_date_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
          <div class="w-[150px]">
            <%= form.label '終了日(完全一致)', class: "block" %>
            <%= form.date_field :end_date_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
          <div class="w-[150px]">
            <%= form.label '更新日時(日付一致)', class: "block" %>
            <%= form.date_field :created_at_date_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="my-4">
      <div class="relative inline-block" data-controller="table-column">
        <!-- ボタンをクリックでドロップダウンをトグル -->
        <button class="normal-button text-sm px-4 py-2 rounded-md border border-gray" data-action="click->table-column#toggleDropdown">
          表示項目を選択 ▼
        </button>

        <!-- ドロップダウンメニュー -->
        <div class="absolute top-full left-0 normal-button shadow-lg border p-4 hidden bg-[#E9F5F8]" 
             data-table-column-target="dropdown" 
             data-action="click->table-column#keepDropdownOpen">
          <form method="post" action="<%= update_columns_tours_path %>" data-action="submit->table-column#closeDropdown" data-turbo="true">
            <% columns = { title: 'タイトル', start_date: '開始日', end_date: '終了日', formatted_created_at: '更新日時', note: '備考' } %>
            <% columns.each do |col, name| %>
              <div>
                <label>
                  <input
                    type="checkbox"
                    name="columns[]"
                    value="<%= col %>" <%= @visible_columns.include?(col.to_s) ? 'checked' : '' 
                  %>>
                  <%= name %>
                </label>
              </div>
            <% end %>
            <button type="submit" class="mt-2 submit-button text-white px-3 py-1 rounded">更新</button>
          </form>
        </div>
      </div>

      <div class="overflow-x-auto shadow-lg rounded-lg">
        <%= turbo_frame_tag "tour_table" do %>
          <%= render "tours/table", tours: @tours, visible_columns: @visible_columns %>
        <% end %>
      </div>
    </div>

    <%= paginate @tours %>
  </div>
<% end %>
