<div class="w-full">
  <div id="flash-space" class="fixed top-5 right-5 w-80"></div>
  <%= yield %>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="flash-message" data-controller="flash"><%= notice %></p>
  <% end %>

  <% content_for :title, "Tours" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">採集行</h1>
    <%= link_to "作成", new_tour_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="tours" class="min-w-full">
    <% @tours.each do |tour| %>
      <%= render tour %>
      <div class="flex gap-3 mt-2">
        <%= link_to "詳細", tour, class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
        <%= link_to "編集", edit_tour_path(tour), class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
        <%= link_to "削除", tour_path(tour), method: :delete, class: "rounded-lg py-3 px-5 bg-red-500 text-white font-medium", data: {turbo_confirm: "本当に削除しますか?", turbo_method: :delete} %>
      </div>
    <% end %>
  </div>

  <%= paginate @tours %>
</div>
