<%= turbo_frame_tag "content-zone" do %>
  <div class="px-4 md:px-10 lg:px-20 py-4 max-w-screen-xl mx-auto">
    <div class="mx-auto">
      <% if notice.present? %>
        <p class="py-1 px-3 bg-green-50 mb-5 text-green-500  rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>


      <h1 class="font-bold text-lg">採集行の詳細</h1>

      <%= render @tour %>

      <% if params[:return_to_model].present? && params[:return_to_id].present? %>
        <% model = params[:return_to_model] %>
        <% id = params[:return_to_id] %>
        <% path_helper = "#{model}_path" %>
        <% if respond_to?(path_helper) %>
          <div class="mb-4">
            <%= link_to "← リンク元に戻る", send(path_helper, id),
                data: { turbo_frame: "content-zone", turbo_action: "advance" },
                class: "mt-2 rounded-lg py-1 px-2 inline-block normal-button" %>
          </div>
        <% end %>
      <% end %>

      <%= link_to "一覧に戻る", tours_url_with_ranmemory,
        class: "mt-2 rounded-lg py-1 px-2 inline-block normal-button",
        data: { turbo_frame: "content-zone", turbo_action: "advance" }
      %>
      <%= link_to "編集", edit_tour_path(@tour),
        class: "mt-2 rounded-lg py-1 px-2 inline-block normal-button",
        data: { turbo_frame: "content-zone", turbo_action: "advance" }
      %>
      <%= link_to "複製", new_tour_path(base_id: @tour.id),
        class: "mt-2 rounded-lg py-1 px-2 inline-block normal-button",
        data: { turbo_frame: "content-zone", turbo_action: "advance" }
      %>
      <%= link_to "削除", tour_path(@tour.id), method: :delete,
        class: "mt-2 rounded-lg py-1 px-2 inline-block denger",
        data: {turbo_confirm: "本当に削除しますか?", turbo_method: :delete, turbo_action: "advance"}
      %>
    </div>
  </div>
<% end %>
