<%= form_with(model: collect_point, class: "contents", data: {controller: "validation", turbo_frame: "content-zone"}) do |form| %>
  <% create_mode = create_mode.present? ? create_mode : false %>
  <% if collect_point.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-2 py-1 font-medium rounded-lg mt-3">
      <h2><%= pluralize(collect_point.errors.count, "error") %>つのエラーが発生しました:</h2>

      <ul>
        <% collect_point.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 my-5 md:grid-cols-3 gap-6 text-sm" >
    <div>
      <!-- ここに地図を埋め込みたい -->
      <div>
        <%= render "collect_points/map_embed", collect_point: collect_point %>
      </div>
    </div>


    <div>
      <div>
        <p>
          長音母音入力補助 コピペして使用してください
          <br>
          ā ī ū ē ō ȳ Ā Ī Ū Ē Ō Ȳ â î û ê ô Â Î Û Ê Ô
        </p>
      </div>
      <% if create_mode %>
        <div class="my-5">
          <%= form.label '同一データでの作成数(最大50)' %>
          <%= form.text_field :bulk_create_num,
            value: 1,
            class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
            data: {validation_target: "input",
                   validation_type: "integer",
                   name: "bulk_create_num",
                   validation_required: "true",
                   validation_message_required: "作成数は必須です",
                   validation_min_value: 1,
                   validation_max_value: 50,
                   validation_min_integer_digits: 1,
                   validation_max_integer_digits: 2,
                   validation_message_integer: "作成数は整数で入力し、1以上50以下にしてください"
            }
          %>
          <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
        </div>
      <% end %>

      <div class="my-5">
        <%= form.label '大陸', class: "block" %>
        <%= form.text_field(
          :contient,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "string",
            name: "contient",
            validation_required: "false",
            validation_min_length: "0",
            validation_max_length: "20",
            validation_message_length: "20文字以下にしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '島群', class: "block" %>
        <%= form.text_field(
          :island_group,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "string",
            name: "island_group",
            validation_required: "false",
            validation_min_length: "0",
            validation_max_length: "30",
            validation_message_length: "30文字以下にしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '島', class: "block" %>
        <%= form.text_field(
          :island,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "string",
            name: "island",
            validation_required: "false",
            validation_min_length: "0",
            validation_max_length: "24",
            validation_message_length: "24文字以下にしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5" data-controller="country-code-selector">
        <%= form.label '国名（ISO 3166-1準拠の半角英字2字の国名コード）', class: "block" %>
        <p class="text-sm">下のリストから国名を選択すると自動で反映されます</p>
        <select
          data-country-code-selector-target="select"
          data-action="change->country-code-selector#updateCode"
          class="text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full">
        </select>

        <%= form.text_field(
          :country,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            country_code_selector_target: "input",
            validation_target: "input",
            validation_type: "string",
            name: "country",
            validation_required: "true",
            validation_message_required: "国名コードは必須です",
            validation_min_length: "2",
            validation_max_length: "2",
            validation_message_length: "2文字(ISO 3166-1準拠)にしてください"
          }
        ) %>

        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '州・県', class: "block" %>
        <%= form.text_field(
          :state_provice,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "string",
            name: "state_provice",
            validation_required: "false",
            validation_min_length: "0",
            validation_max_length: "30",
            validation_message_length: "30文字以下にしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '海外における郡・区', class: "block" %>
        <%= form.text_field(
          :county,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "string",
            name: "county",
            validation_required: "false",
            validation_min_length: "0",
            validation_max_length: "30",
            validation_message_length: "30文字以下にしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '市名以下の詳細地名', class: "block" %>
        <%= form.text_field(
          :municipality,
          id: "municipality",
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "string",
            name: "municipality",
            validation_required: "false",
            validation_min_length: "0",
            validation_max_length: "50",
            validation_message_length: "50文字以下にしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '日本語地名ラベル用', class: "block" %>
        <%= form.text_field(
          :japanese_place_name,
          id: "japanese_place_name",
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "string",
            name: "japanese_place_name",
            validation_required: "false",
            validation_min_length: "0",
            validation_max_length: "14",
            validation_message_length: "14文字以下にしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '日本語地名詳細', class: "block" %>
        <%= form.text_field(
          :japanese_place_name_detail,
          id: "japanese_place_name_detail",
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "string",
            name: "japanese_place_name_detail",
            validation_required: "false",
            validation_min_length: "0",
            validation_max_length: "50",
            validation_message_length: "50文字以下にしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '採集地の説明', class: "block" %>
        <%= form.text_field(
          :verbatim_locality,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "string",
            name: "verbatim_locality",
            validation_required: "false",
            validation_min_length: "0",
            validation_max_length: "200",
            validation_message_length: "200文字以下にしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '緯度(10進座標、小数点以下6桁、不明なら0)', class: "block" %>
        <%= form.number_field(
          :latitude,
          id: "latitude",
          step: "0.000001",
          value: collect_point.location ? collect_point.location.latitude : 0.0,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "decimal",
            name: "latitude",
            validation_required: "true",
            validation_message_required: "緯度は必須です(不明な場合は0にしてください)",
            validation_max_decimal_digits: 6,
            validation_message_decimal: "小数点以下は6桁までにしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '経度(10進座標、小数点以下6桁、不明なら0)', class: "block" %>
        <%= form.number_field(
          :longitude,
          id: "longitude",
          step: "0.000001",
          value: collect_point.location ? collect_point.location.longitude : 0.0,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "decimal",
            name: "longitude",
            validation_required: "true",
            validation_message_required: "経度は必須です(不明な場合は0にしてください)",
            validation_max_decimal_digits: 6,
            validation_message_decimal: "小数点以下は6桁までにしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '半径(m)', class: "block" %>
        <%= form.number_field(
          :coordinate_precision,
          step: "0.000001",
          value: collect_point.coordinate_precision ? collect_point.coordinate_precision : 0.0,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "decimal",
            name: "coordinate_precision",
            validation_required: "true",
            validation_message_required: "半径は必須です",
            validation_min_value: 0,
            validation_message_integer: "0.0以上の数(小数可)で入力してください",
            validation_max_decimal_digits: 6,
            validation_message_decimal: "小数点以下は6桁までにしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '最低標高(m)', class: "block" %>
        <%= form.number_field(
          :minimum_elevation,
          id: "minimum_elevation",
          step: "0.000001",
          value: collect_point.minimum_elevation ? collect_point.minimum_elevation : 0.0,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "decimal",
            name: "minimum_elevation",
            validation_required: "true",
            validation_message_required: "最低標高は必須です",
            validation_min_value: 0,
            validation_message_integer: "0.0以上の数(小数可)で入力してください",
            validation_max_decimal_digits: 6,
            validation_message_decimal: "小数点以下は6桁までにしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '最高標高(m)', class: "block" %>
        <%= form.number_field(
          :maximum_elevation,
          id: "maximum_elevation",
          step: "0.000001",
          value: collect_point.maximum_elevation ? collect_point.maximum_elevation : 0.0,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "decimal",
            name: "maximum_elevation",
            validation_required: "true",
            validation_message_required: "最高標高は必須です",
            validation_min_value: 0,
            validation_message_integer: "0.0以上の数(小数可)で入力してください",
            validation_max_decimal_digits: 6,
            validation_message_decimal: "小数点以下は6桁までにしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '最小水深(m)', class: "block" %>
        <%= form.number_field(
          :minimum_depth,
          step: "0.000001",
          value: collect_point.minimum_depth ? collect_point.minimum_depth : 0.0,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "decimal",
            name: "minimum_depth",
            validation_required: "true",
            validation_message_required: "最小水深は必須です",
            validation_min_value: 0,
            validation_message_integer: "0.0以上の数(小数可)で入力してください",
            validation_max_decimal_digits: 6,
            validation_message_decimal: "小数点以下は6桁までにしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '最大水深(m)', class: "block" %>
        <%= form.number_field(
          :maximum_depth,
          step: "0.000001",
          value: collect_point.maximum_depth ? collect_point.maximum_depth : 0.0,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {
            validation_target: "input",
            validation_type: "decimal",
            name: "maximum_depth",
            validation_required: "true",
            validation_message_required: "最大水深は必須です",
            validation_min_value: 0,
            validation_message_integer: "0.0以上の数(小数可)で入力してください",
            validation_max_decimal_digits: 6,
            validation_message_decimal: "小数点以下は6桁までにしてください"
          }
        ) %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <%= form.label '備考' %>
        <%= form.text_area :note,
          rows: 4,
          class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
          data: {validation_target: "input",
                 validation_type: "string",
                 name: "note",
                 validation_max_length: "200",
                 validation_message_length: "備考は200文字以下にしてください"
          }
        %>
        <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
      </div>

      <div class="my-5">
        <% tours_to_display = defined?(@copied_tours) ? @copied_tours : @collect_point.tours %>
        <div
          data-controller="association-selector"
          data-association-selector-model-name-value="tour"
          data-association-selector-form-model-name-value="collect_point"
          data-association-selector-search-path-value="<%= search_tours_path(format: :turbo_stream) %>"
          data-association-selector-display-field-value="title"
          data-association-selector-association-type-value="many_to_many"
          data-association-selector-initial-items-value="<%= tours_to_display.map { |t| { id: t.id, label: t.title } }.to_json %>"
        >

          <label for="tour-search" class="block text-sm font-medium">採集行を検索して追加</label>
          <input type="text"
                 data-association-selector-target="searchInput"
                 data-action="keydown->association-selector#search input->association-selector#search"
                 class="w-full border rounded px-2 py-1 mt-1"
                 placeholder="採集行タイトルで検索" />

          <ul id="results" data-association-selector-target="results"
              class="mt-2 border rounded bg-white shadow max-h-60 overflow-auto text-sm"></ul>

          <label class="block text-sm font-medium mt-4">紐付け済み採集行</label>
          <div data-association-selector-target="selectedList" class="flex flex-wrap gap-2 mt-2"></div>
        </div>
      </div>
    </div>

    <div>
      <%= render "shared/image_upload", form: form, model: @collect_point %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg mt-2 py-1 px-2 submit-button text-white inline-block cursor-pointer btn btn-primary", data: {validation_target: "submit", turbo_action: "advance"} %>
  </div>
<% end %>
