<%= turbo_frame_tag "content-zone" do %>
  <div class="w-full">

    <% content_for :institution_code, "collect_points" %>

    <div class="flex justify-between items-center mb-2">
      <h1 class="font-bold text-xl">採集地点🌲</h1>

      <div>
        <% if notice.present? %>
          <p class="left-1/2 py-2 px-3 bg-green-50 mb-5 text-green-500 text-sm rounded-lg inline-block z-50" id="flash-message" data-controller="flash"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="left-1/2 py-2 px-3 bg-red-50 mb-5 text-red-500 text-sm rounded-lg inline-block z-50" id="flash-message" data-controller="flash"><%= alert %></p>
        <% end %>
      </div>

      <div class="my-4 flex gap-4">
        <%= link_to "⬇️ CSVをDL", export_csv_collect_points_path(q: params[:q]),
          class: "text-sm rounded-lg py-3 px-5 normal-button text-black block font-medium",
          data: { turbo: false } %>

        <%= link_to "⬇️ Excel用CSVをDL", export_csv_excel_collect_points_path(q: params[:q]),
          class: "text-sm rounded-lg py-3 px-5 normal-button text-black block font-medium",
          data: { turbo: false } %>

        <%= link_to "作成", new_collect_point_path,
          class: "text-sm rounded-lg py-3 px-5 submit-button text-white block font-medium",
          data: { turbo_frame: "content-zone", turbo_action: "advance" }
        %>
      </div>
    </div>

    <%= render "shared/accent_copy" %>

    <div
      data-controller="filter-choice"
      data-filter-choice-model-name-value="collect_point"
      data-default-visible-fields="<%= ['all_place_name_cont'].to_json %>"
    >
      <div>
        <div class="relative inline-block">
          <!-- ボタンをクリックでドロップダウンをトグル -->
          <button class="normal-button text-sm px-2 py-1 rounded-md border border-gray" data-action="click->filter-choice#toggleDropdown" data-filter-choice-target="toggleButton">
            検索項目を選択 ▼
          </button>

          <!-- ドロップダウンメニュー -->
          <div class="text-xs absolute top-full left-0 normal-button shadow-lg border p-2 hidden bg-[#E9F5F8] z-50 whitespace-nowrap"
               data-filter-choice-target="dropdown"
               data-action="click->filter-choice#keepDropdownOpen">
               <% columns = {
                 all_place_name_cont: '地名系項目あいまい',
                 within_distance_from: '指定座標から指定半径内の地点',
                 contient_cont: '大陸(部分一致)',
                 contient_eq: '大陸(完全一致)',
                 island_group_cont: '島群(部分一致)',
                 island_group_eq: '島群(完全一致)',
                 island_cont: '島(部分一致)',
                 island_eq: '島(完全一致)',
                 country_cont: '国名コード(部分一致)',
                 country_eq: '国名コード(完全一致)',
                 state_provice_cont: '州・県(部分一致)',
                 state_provice_eq: '州・県(完全一致)',
                 county_cont: '海外における郡・区(部分一致)',
                 county_eq: '海外における郡・区(完全一致)',
                 municipality_cont: '市名以下の詳細地名(部分一致)',
                 municipality_eq: '市名以下の詳細地名(完全一致)',
                 japanese_place_name_cont: '日本語地名ラベル用(部分一致)',
                 japanese_place_name_eq: '日本語地名ラベル用(完全一致)',
                 japanese_place_name_detail_cont: '日本語地名詳細(部分一致)',
                 japanese_place_name_detail_eq: '日本語地名詳細(完全一致)',
                 verbatim_locality_cont: '採集地の説明(部分一致)',
                 verbatim_locality_eq: '採集地の説明(完全一致)',
                 latitude_eq: '緯度(完全一致)',
                 latitude_gteq: '緯度(指定値以上)',
                 latitude_lteq: '緯度(指定値以下)',
                 longitude_eq: '経度(完全一致)',
                 longitude_gteq: '経度(指定値以上)',
                 longitude_lteq: '経度(指定値以下)',
                 coordinate_precision_eq: '半径(指定メートル完全一致)',
                 coordinate_precision_gteq: '半径(指定メートル以上)',
                 coordinate_precision_lteq: '半径(指定メートル以下)',
                 minimum_elevation_eq: '最低標高(指定メートル完全一致)',
                 minimum_elevation_gteq: '最低標高(指定メートル以上)',
                 minimum_elevation_lteq: '最低標高(指定メートル以下)',
                 maximum_elevation_eq: '最高標高(指定メートル完全一致)',
                 maximum_elevation_gteq: '最高標高(指定メートル以上)',
                 maximum_elevation_lteq: '最高標高(指定メートル以下)',
                 minimum_depth_eq: '最小水深(指定メートル完全一致)',
                 minimum_depth_gteq: '最小水深(指定メートル以上)',
                 minimum_depth_lteq: '最小水深(指定メートル以下)',
                 maximum_depth_eq: '最大水深(指定メートル完全一致)',
                 maximum_depth_gteq: '最大水深(指定メートル以上)',
                 maximum_depth_lteq: '最大水深(指定メートル以下)',
                 created_at_date_eq: '作成日時(日付一致)',
                 note_cont: '備考(部分一致)'
              } %>
              <% columns.each do |col, name| %>
                <div>
                  <label>
                    <input
                      type="checkbox"
                      name="columns[]"
                      class="m-1"
                      data-action="change->filter-choice#updateFilter"
                      value="<%= col %>"
                    >
                    <%= name %>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="border border-gray-300 rounded-lg mb-4 p-2 text-sm overflow-x-auto shadow-lg rounded-lg">
          <%= search_form_for @search,
            html: {
              data: {
                turbo_frame: "data_table",
                controller: "incremental-search",
                action: "input->incremental-search#submit",
                turbo_action: "advance"
              }
            } do |form| %>
            <div class="my-2">
              <%= form.submit class: "text-sm rounded-lg py-1 px-2 normal-button inline-block cursor-pointer", data: {turbo_action: "advance"} %>
              <%= link_to 'クリア', url_for + "?cancel_filter=true", class: "text-sm rounded-lg py-1 px-2 normal-button inline-block cursor-pointer", data: {turbo_action: "advance", turbo_prefetch: false} %>
            </div>

            <div class="max-w-[550px] mb-4 bg-blue-50 p-3 rounded-lg border border-blue-200 hidden" data-filter-choice-field id="within_distance_from">
              <div>
                <p>指定座標から指定半径内の地点</p>
              </div>
              <div data-controller="geolocation-input">
                <button
                  class="text-sm rounded-lg my-2 py-1 px-3 submit-button text-white"
                  data-action="geolocation-input#getLocation click->incremental-search#submit"
                  type="button"
                >
                  現在地を取得
                </button>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                  <div>
                    <%= form.label :within_latitude, '緯度（中心）', class: "block text-sm font-medium text-gray-700" %>
                    <%= form.search_field :within_latitude,
                      class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-1 w-full",
                      value: params.dig(:q, :within_latitude) || session.dig(:ranmemory_collect_points_index_html, "within_latitude"),
                      data: {
                        geolocation_input_target: "latitude"
                      }
                    %>
                  </div>
                  <div>
                    <%= form.label :within_longitude, '経度（中心）', class: "block text-sm font-medium text-gray-700" %>
                    <%= form.search_field :within_longitude,
                      class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-1 w-full",
                      value: params.dig(:q, :within_longitude) || session.dig(:ranmemory_collect_points_index_html, "within_longitude"),
                      data: {
                        geolocation_input_target: "longitude"
                      }
                    %>
                  </div>
                  <div>
                    <%= form.label :within_radius, '半径（メートル）', class: "block text-sm font-medium text-gray-700" %>
                    <%= form.search_field :within_radius,
                      step: 10, min: 0,
                      class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-1 w-full",
                      value: params.dig(:q, :within_radius) || session.dig(:ranmemory_collect_points_index_html, "within_radius")
                    %>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex flex-wrap gap-4">
              <div class="w-[200px] hidden" data-filter-choice-field id="all_place_name_cont">
                <%= form.label '地名系項目あいまい', class: "block" %>
                <%= form.search_field :all_place_name_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="contient_cont">
                <%= form.label '大陸(部分一致)', class: "block" %>
                <%= form.search_field :contient_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="contient_eq">
                <%= form.label '大陸(完全一致)', class: "block" %>
                <%= form.search_field :contient_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="island_group_cont">
                <%= form.label '島群(部分一致)', class: "block" %>
                <%= form.search_field :island_group_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="island_group_eq">
                <%= form.label '島群(完全一致)', class: "block" %>
                <%= form.search_field :island_group_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="island_cont">
                <%= form.label '島(部分一致)', class: "block" %>
                <%= form.search_field :island_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="island_eq">
                <%= form.label '島(完全一致)', class: "block" %>
                <%= form.search_field :island_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="country_cont">
                <%= form.label '国名コード(部分一致)', class: "block" %>
                <%= form.search_field :country_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="country_eq">
                <%= form.label '国名コード(完全一致)', class: "block" %>
                <%= form.search_field :country_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="state_provice_cont">
                <%= form.label '州・県(部分一致)', class: "block" %>
                <%= form.search_field :state_provice_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="state_provice_eq">
                <%= form.label '州・県(完全一致)', class: "block" %>
                <%= form.search_field :state_provice_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="county_cont">
                <%= form.label '海外における郡・区(部分一致)', class: "block" %>
                <%= form.search_field :county_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="county_cont_eq">
                <%= form.label '海外における郡・区(完全一致)', class: "block" %>
                <%= form.search_field :county_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="municipality_cont">
                <%= form.label '市名以下の詳細地名(部分一致)', class: "block" %>
                <%= form.search_field :municipality_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="municipality_eq">
                <%= form.label '市名以下の詳細地名(完全一致)', class: "block" %>
                <%= form.search_field :municipality_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="japanese_place_name_cont">
                <%= form.label '日本語地名ラベル用(部分一致)', class: "block" %>
                <%= form.search_field :japanese_place_name_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="japanese_place_name_eq">
                <%= form.label '日本語地名ラベル用(完全一致)', class: "block" %>
                <%= form.search_field :japanese_place_name_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="japanese_place_name_detail_cont">
                <%= form.label '日本語地名詳細(部分一致)', class: "block" %>
                <%= form.search_field :japanese_place_name_detail_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="japanese_place_name_detail_eq">
                <%= form.label '日本語地名詳細(完全一致)', class: "block" %>
                <%= form.search_field :japanese_place_name_detail_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="verbatim_locality_cont">
                <%= form.label '採集地の説明(部分一致)', class: "block" %>
                <%= form.search_field :verbatim_locality_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="verbatim_locality_eq">
                <%= form.label '採集地の説明(完全一致)', class: "block" %>
                <%= form.search_field :verbatim_locality_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="latitude_eq">
                <%= form.label '緯度(指定値完全一致)', class: "block" %>
                <%= form.search_field :latitude_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="latitude_gteq">
                <%= form.label '緯度(指定値以上)', class: "block" %>
                <%= form.search_field :latitude_gteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="latitude_lteq">
                <%= form.label '緯度(指定値以下)', class: "block" %>
                <%= form.search_field :latitude_lteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="longitude_eq">
                <%= form.label '経度(指定値完全一致)', class: "block" %>
                <%= form.search_field :longitude_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="longitude_gteq">
                <%= form.label '経度(指定値以上)', class: "block" %>
                <%= form.search_field :longitude_gteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="longitude_lteq">
                <%= form.label '経度(指定値以下)', class: "block" %>
                <%= form.search_field :longitude_lteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="coordinate_precision_eq">
                <%= form.label '半径(指定メートル完全一致)', class: "block" %>
                <%= form.search_field :coordinate_precision_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="coordinate_precision_gteq">
                <%= form.label '半径(指定メートル以上)', class: "block" %>
                <%= form.search_field :coordinate_precision_gteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="coordinate_precision_lteq">
                <%= form.label '半径(指定メートル以下)', class: "block" %>
                <%= form.search_field :coordinate_precision_lteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="minimum_elevation_eq">
                <%= form.label '最低標高(指定メートル完全一致)', class: "block" %>
                <%= form.search_field :minimum_elevation_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="minimum_elevation_gteq">
                <%= form.label '最低標高(指定メートル以上)', class: "block" %>
                <%= form.search_field :minimum_elevation_gteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="minimum_elevation_lteq">
                <%= form.label '最低標高(指定メートル以下)', class: "block" %>
                <%= form.search_field :minimum_elevation_lteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="maximum_elevation_eq">
                <%= form.label '最高標高(指定メートル完全一致)', class: "block" %>
                <%= form.search_field :maximum_elevation_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="maximum_elevation_gteq">
                <%= form.label '最高標高(指定メートル以上)', class: "block" %>
                <%= form.search_field :maximum_elevation_gteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="maximum_elevation_lteq">
                <%= form.label '最高標高(指定メートル以下)', class: "block" %>
                <%= form.search_field :maximum_elevation_lteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="minimum_depth_eq">
                <%= form.label '最小水深(指定メートル完全一致)', class: "block" %>
                <%= form.search_field :minimum_depth_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="minimum_depth_gteq">
                <%= form.label '最小水深(指定メートル以上)', class: "block" %>
                <%= form.search_field :minimum_depth_gteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="minimum_depth_lteq">
                <%= form.label '最小水深(指定メートル以下)', class: "block" %>
                <%= form.search_field :minimum_depth_lteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="maximum_depth_eq">
                <%= form.label '最大水深(指定メートル完全一致)', class: "block" %>
                <%= form.search_field :maximum_depth_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="maximum_depth_gteq">
                <%= form.label '最大水深(指定メートル以上)', class: "block" %>
                <%= form.search_field :maximum_depth_gteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
              <div class="w-[200px] hidden" data-filter-choice-field id="maximum_depth_lteq">
                <%= form.label '最大水深(指定メートル以下)', class: "block" %>
                <%= form.search_field :maximum_depth_lteq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[150px] hidden" data-filter-choice-field id="created_at_date_eq">
                <%= form.label '作成日時(日付一致)', class: "block" %>
                <%= form.date_field :created_at_date_eq, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>

              <div class="w-[200px] hidden" data-filter-choice-field id="note_cont">
                <%= form.label '備考(部分一致)', class: "block" %>
                <%= form.search_field :note_cont, class: "text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div data-controller="bulk-action" data-bulk-action-model-name-value="collect_point">
      <div data-controller="validation">
        <div
          data-controller="bulk-update-choice"
          data-bulk-update-choice-model-name-value="collect_point"
          data-default-bulk-update-choice-fields="<%= [].to_json %>"
        >
          <div class="border border-gray-300 rounded-lg mb-4 p-2 text-sm shadow-lg rounded-lg">
            <div class="text-xs">
              <p class="text-sm text-red-600 font-medium">⚠一括操作は危険です。</p>
              <p>旧システムでは複数ページの一括選択が可能でしたが、この新システムでは安全確保のため、現在のページに表示されているデータのみを選択可能としました。</p>
              <p>ページの移動や検索によって選択はリセットされます。</p>
              <p>データを選択するまで一括更新/一括削除ボタンは有効になりません。また、一括更新ボタンの場合は、選択した更新対象項目への入力が検証に合格するまで有効になりません。
            </div>

            <p class="m-2">現在の選択件数: <span data-bulk-action-target="selectRowCount">0</span></p>

            <hr class="border border-gray-300">

            <%= form_with(
              url: bulk_delete_collect_points_path,
              method: :delete,
              data: {
                action: "submit->bulk-action#bulkDelete",
                turbo_frame: "data_table",
                turbo_action: "advance"
              }
            ) do |form| %>
              <%= form.submit(
                "選択データを一括削除",
                class: "text-sm rounded-lg my-2 py-1 px-2 denger text-white inline-block cursor-pointer",
                data: {
                  bulk_action_target: "bulkDeleteButton",
                  turbo_action: "advance",
                  action: "submit->bulk-action#bulkDelete",
                  turbo_confirm: "一括削除は危険な操作です！\n本当に実行しますか？"
                }
              )%>
              <%= form.hidden_field :bulk_ids, value: "", data: { bulk_action_target: "bulkDeleteIds" } %>
            <% end %>

            <hr class="mb-2 border border-gray-300">

            <div class="relative inline-block">
              <!-- ボタンをクリックでドロップダウンをトグル -->
              <button class="normal-button text-sm px-2 py-1 rounded-md border border-gray" data-action="click->bulk-update-choice#toggleDropdown" data-bulk-update-choice-target="toggleButton">
                一括更新項目を選択 ▼
              </button>
              <!-- ドロップダウンメニュー -->
              <div class="text-xs absolute top-full left-0 normal-button shadow-lg border p-2 hidden bg-[#E9F5F8] z-50 whitespace-nowrap"
                   data-bulk-update-choice-target="dropdown"
                   data-action="click->bulk-update-choice#keepDropdownOpen"
              >
              <% columns = {
                 contient: '大陸',
                 island_group: '島群',
                 island: '島',
                 country: '国名コード',
                 state_provice: '州・県',
                 county: '海外における郡・区',
                 municipality: '市名以下の詳細地名',
                 japanese_place_name: '日本語地名ラベル用',
                 japanese_place_name_detail: '日本語地名詳細',
                 verbatim_locality: '採集地の説明',
                 coordinate_precision: '半径',
                 minimum_elevation: '最低標高',
                 maximum_elevation: '最高標高',
                 minimum_depth: '最小水深',
                 maximum_depth: '最大水深',
                 note: '備考'
              } %>
                <% columns.each do |col, name| %>
                  <div>
                    <label>
                      <input
                        type="checkbox"
                        name="bulk-update-fields[]"
                        data-action="change->bulk-update-choice#updateChoice change->validation#toggleSubmitButton"
                        class="m-1"
                        value="<%= col %>"
                      >
                      <%= name %>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>

            <%= form_with(
              url: bulk_update_collect_points_path,
              method: :patch,
              data: {
                action: "submit->bulk-action#bulkUpdate input->bulk-action#zeroSelectDisabledBulkUpdate",
                turbo_frame: "data_table",
                turbo_action: "advance"
              }
            ) do |form| %>
              <%= form.submit(
                "選択データを一括更新",
                class: "text-sm rounded-lg my-2 py-1 px-2 submit-button text-white cursor-pointer",
                data: {
                  bulk_action_target: "bulkUpdateButton",
                  validation_target: "submit",
                  turbo_action: "advance",
                  action: "submit->bulk-action#bulkUpdate",
                  turbo_confirm: "一括更新は危険な操作です！\n本当に実行しますか？"
                }
              )%>
              <%= form.hidden_field :bulk_ids, value: "", data: { bulk_action_target: "bulkIds" } %>
              <%= form.hidden_field :bulk_columns, value: "", data: { bulk_action_target: "bulkColumns" } %>
              <div class="flex flex-wrap gap-4">
                <div class="w-[200px]" data-bulk-update-choice-field id="contient">
                  <%= form.label '大陸', class: "block" %>
                  <%= form.text_field(
                    :contient,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "contient",
                      validation_required: "false",
                      validation_regex: "^[!-~ ]*$",
                      validation_message_regex: "半角英数記号のみにしてください",
                      validation_min_length: "0",
                      validation_max_length: "20",
                      validation_message_length: "20文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="island_group">
                  <%= form.label '島群', class: "block" %>
                  <%= form.text_field(
                    :island_group,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "island_group",
                      validation_required: "false",
                      validation_regex: "^[!-~ À-ÖØ-öø-ÿāīūēōȳĀĪŪĒŌȲ]*$",
                      validation_message_regex: "半角英数記号およびアクセント記号付き文字のみにしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="island">
                  <%= form.label '島', class: "block" %>
                  <%= form.text_field(
                    :island,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "island",
                      validation_required: "false",
                      validation_regex: "^[!-~ À-ÖØ-öø-ÿāīūēōȳĀĪŪĒŌȲ]*$",
                      validation_message_regex: "半角英数記号およびアクセント記号付き文字のみにしてください",
                      validation_min_length: "0",
                      validation_max_length: "24",
                      validation_message_length: "24文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-controller="country-code-selector" data-bulk-update-choice-field id="country">
                  <%= form.label '国名（ISO 3166-1準拠の半角英字2字の国名コード）', class: "block" %>
                  <p class="text-sm">下のリストから国名を選択すると自動で反映されます</p>
                  <select
                    data-country-code-selector-target="select"
                    data-action="change->country-code-selector#updateCode"
                    class="text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full">
                  </select>

                  <%= form.text_field(
                    :country,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      country_code_selector_target: "input",
                      validation_target: "input",
                      validation_type: "countryCode",
                      name: "country",
                      validation_required: "true",
                      validation_message_required: "国名コードは必須です",
                      validation_min_length: "2",
                      validation_max_length: "2",
                      validation_message_length: "2文字(ISO 3166-1準拠)にしてください"
                    }
                  ) %>

                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="state_provice">
                  <%= form.label '州・県', class: "block" %>
                  <%= form.text_field(
                    :state_provice,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "state_provice",
                      validation_required: "false",
                      validation_regex: "^[!-~ À-ÖØ-öø-ÿāīūēōȳĀĪŪĒŌȲ]*$",
                      validation_message_regex: "半角英数記号およびアクセント記号付き文字のみにしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="county">
                  <%= form.label '海外における郡・区', class: "block" %>
                  <%= form.text_field(
                    :county,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "county",
                      validation_required: "false",
                      validation_regex: "^[!-~ À-ÖØ-öø-ÿāīūēōȳĀĪŪĒŌȲ]*$",
                      validation_message_regex: "半角英数記号およびアクセント記号付き文字のみにしてください",
                      validation_min_length: "0",
                      validation_max_length: "30",
                      validation_message_length: "30文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="municipality">
                  <%= form.label '市名以下の詳細地名', class: "block" %>
                  <%= form.text_field(
                    :municipality,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "municipality",
                      validation_required: "false",
                      validation_regex: "^[!-~ À-ÖØ-öø-ÿāīūēōȳĀĪŪĒŌȲ]*$",
                      validation_message_regex: "半角英数記号およびアクセント記号付き文字のみにしてください",
                      validation_min_length: "0",
                      validation_max_length: "50",
                      validation_message_length: "50文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="japanese_place_name">
                  <%= form.label '日本語地名ラベル用', class: "block" %>
                  <%= form.text_field(
                    :japanese_place_name,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "japanese_place_name",
                      validation_required: "false",
                      validation_min_length: "0",
                      validation_max_length: "14",
                      validation_message_length: "14文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="japanese_place_name_detail">
                  <%= form.label '日本語地名詳細', class: "block" %>
                  <%= form.text_field(
                    :japanese_place_name_detail,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "japanese_place_name_detail",
                      validation_required: "false",
                      validation_min_length: "0",
                      validation_max_length: "50",
                      validation_message_length: "50文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="verbatim_locality">
                  <%= form.label '採集地の説明', class: "block" %>
                  <%= form.text_field(
                    :verbatim_locality,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "string",
                      name: "verbatim_locality",
                      validation_required: "false",
                      validation_min_length: "0",
                      validation_max_length: "200",
                      validation_message_length: "200文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="coordinate_precision">
                  <%= form.label '半径(m)', class: "block" %>
                  <%= form.number_field(
                    :coordinate_precision,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "decimal",
                      name: "coordinate_precision",
                      validation_required: "true",
                      validation_message_required: "半径は必須です",
                      validation_min_value: 0,
                      validation_message_integer: "0.0以上の数(小数可)で入力してください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="minimum_elevation">
                  <%= form.label '最低標高(m)', class: "block" %>
                  <%= form.number_field(
                    :minimum_elevation,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "decimal",
                      name: "minimum_elevation",
                      validation_required: "true",
                      validation_message_required: "最低標高は必須です",
                      validation_min_value: 0,
                      validation_message_integer: "0.0以上の数(小数可)で入力してください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="maximum_elevation">
                  <%= form.label '最高標高(m)', class: "block" %>
                  <%= form.number_field(
                    :maximum_elevation,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "decimal",
                      name: "maximum_elevation",
                      validation_required: "true",
                      validation_message_required: "最高標高は必須です",
                      validation_min_value: 0,
                      validation_message_integer: "0.0以上の数(小数可)で入力してください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="minimum_depth">
                  <%= form.label '最小水深(m)', class: "block" %>
                  <%= form.number_field(
                    :minimum_depth,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "decimal",
                      name: "minimum_depth",
                      validation_required: "true",
                      validation_message_required: "最小水深は必須です",
                      validation_min_value: 0,
                      validation_message_integer: "0.0以上の数(小数可)で入力してください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="maximum_depth">
                  <%= form.label '最大水深(m)', class: "block" %>
                  <%= form.number_field(
                    :maximum_depth,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {
                      validation_target: "input",
                      validation_type: "decimal",
                      name: "maximum_depth",
                      validation_required: "true",
                      validation_message_required: "最大水深は必須です",
                      validation_min_value: 0,
                      validation_message_integer: "0.0以上の数(小数可)で入力してください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>

                <div class="w-[200px]" data-bulk-update-choice-field id="note">
                  <%= form.label '備考', class: "block" %>
                  <%= form.text_area(
                    :note,
                    class: "form-input hidden text-sm block shadow rounded-md border border-gray-400 outline-none px-2 py-1 mt-2 w-full",
                    data: {validation_target: "input",
                      validation_type: "string",
                      name: "note",
                      validation_max_length: "200",
                      validation_message_length: "備考は200文字以下にしてください"
                    }
                  ) %>
                  <div data-validation-target="error" class="text-red-500 text-sm mt-2 hidden"></div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div
          data-controller="table-column"
          data-mobile-default-visible-columns="<%= ['english_place_name', 'japanese_place_name_detail'].to_json %>"
          data-default-visible-columns="<%= ['country', 'island', 'state_provice', 'municipality', 'japanese_place_name_detail'].to_json %>"
          data-table-column-model-name-value="collect_point"
        >
          <div>
            <div class="relative inline-block">
              <!-- ボタンをクリックでドロップダウンをトグル -->
              <button class="normal-button text-sm px-2 py-1 rounded-md border border-gray" data-action="click->table-column#toggleDropdown" data-table-column-target="toggleButton">
                表示項目を選択 ▼
              </button>
              <span class="text-sm px-2">列名クリックで並べ替え</span>

              <!-- ドロップダウンメニュー -->
              <div class="text-xs absolute top-full left-0 normal-button shadow-lg border p-2 hidden bg-[#E9F5F8] z-50 whitespace-nowrap"
                   data-table-column-target="dropdown"
                   data-action="click->table-column#keepDropdownOpen">
                  <% columns = {
                     english_place_name: '英語地名(合体)',
                     contient: '大陸',
                     island_group: '島群',
                     island: '島',
                     country: '国名コード',
                     state_provice: '州・県',
                     county: '海外における郡・区',
                     municipality: '市名以下の詳細地名',
                     japanese_place_name: '日本語地名ラベル用',
                     japanese_place_name_detail: '日本語地名詳細',
                     verbatim_locality: '採集地の説明',
                     latitude: '緯度',
                     longitude: '経度',
                     coordinate_precision: '半径(m)',
                     minimum_elevation: '最低標高(m)',
                     maximum_elevation: '最高標高(m)',
                     minimum_depth: '最小水深(m)',
                     maximum_depth: '最大水深(m)',
                     note: '備考',
                     created_at: '作成日時'
                  } %>
                  <% columns.each do |col, name| %>
                    <div>
                      <label>
                        <input
                          type="checkbox"
                          name="columns[]"
                          class="m-1"
                          data-action="change->table-column#updateColumn"
                          value="<%= col %>"
                        >
                        <%= name %>
                      </label>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <%= turbo_frame_tag "data_table", data: {action: "turbo:frame-load->bulk-action#resetSelectDisplay"} do %>
              <%= paginate @collect_points %>
              <div class="overflow-x-auto shadow-lg rounded-lg">
                <table class="text-sm min-w-full table-auto border-collapse">
                  <thead data-table-column-target="tableHead" style="display: none">
                    <tr class="column-names">
                      <th class="text-sm px-4 py-2 border border-gray-300 text-center w-8">
                        <input
                          type="checkbox"
                          name="selectRows[]"
                          data-action="change->bulk-action#updateAllRow change->validation#toggleSubmitButton change->bulk-action#zeroSelectDisabledBulkUpdate"
                          data-bulk-action-target="selectAllRow"
                          id="selectAllRow"
                        >
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="english_place_name">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'contient', direction: toggle_direction('english_place_name')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          英語地名(合体)
                          <%= sort_icon('english_place_name') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="contient">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'contient', direction: toggle_direction('contient')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          大陸
                          <%= sort_icon('contient') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="island_group">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'island_group', direction: toggle_direction('island_group')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          島群
                          <%= sort_icon('island_group') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="island">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'island', direction: toggle_direction('island')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          島
                          <%= sort_icon('island') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="country">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'country', direction: toggle_direction('country')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          国名コード
                          <%= sort_icon('country') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="state_provice">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'state_provice', direction: toggle_direction('state_provice')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          州・県
                          <%= sort_icon('state_provice') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="county">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'county', direction: toggle_direction('county')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          海外における郡・区
                          <%= sort_icon('county') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="municipality">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'municipality', direction: toggle_direction('municipality')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          市名以下の詳細地名
                          <%= sort_icon('municipality') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="japanese_place_name">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'japanese_place_name', direction: toggle_direction('japanese_place_name')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          日本語地名(ラベル用)
                          <%= sort_icon('japanese_place_name') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="japanese_place_name_detail">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'japanese_place_name_detail', direction: toggle_direction('japanese_place_name_detail')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          日本語地名(詳細)
                          <%= sort_icon('japanese_place_name_detail') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="verbatim_locality">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'verbatim_locality', direction: toggle_direction('verbatim_locality')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          採集地の説明
                          <%= sort_icon('verbatim_locality') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="latitude">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'latitude', direction: toggle_direction('latitude')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          緯度(10進)
                          <%= sort_icon('latitude') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="longitude">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'longitude', direction: toggle_direction('longitude')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          経度(10進)
                          <%= sort_icon('longitude') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="coordinate_precision">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'coordinate_precision', direction: toggle_direction('coordinate_precision')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          半径(m)
                          <%= sort_icon('coordinate_precision') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="minimum_elevation">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'minimum_elevation', direction: toggle_direction('minimum_elevation')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          最低標高(m)
                          <%= sort_icon('minimum_elevation') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="maximum_elevation">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'maximum_elevation', direction: toggle_direction('maximum_elevation')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          最高標高(m)
                          <%= sort_icon('maximum_elevation') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="minimum_depth">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'minimum_depth', direction: toggle_direction('minimum_depth')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          最小水深(m)
                          <%= sort_icon('minimum_depth') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left" data-table-column-visible-columns id="maximum_depth">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'maximum_depth', direction: toggle_direction('maximum_depth')), class: "font-bold flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          最大水深(m)
                          <%= sort_icon('maximum_depth') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left hidden" data-table-column-visible-columns id="created_at">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'created_at', direction: toggle_direction('created_at')), class: "font-bold  flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          作成日時
                          <%= sort_icon('created_at') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left hidden" data-table-column-visible-columns id="note">
                        <%= link_to collect_points_url_with_ranmemory(sort: 'note', direction: toggle_direction('note')), class: "font-bold  flex items-center", data: {turbo_action: "advance", turbo_prefetch: false} do %>
                          備考
                          <%= sort_icon('note') %>
                        <% end %>
                      </th>
                      <th class="px-4 py-2 border border-gray-300 text-left">操作</th>
                    </tr>
                  </thead>
                  <tbody data-table-column-target="tableBody" style="display: none">
                    <% @collect_points.each do |collect_point| %>
                      <tr id="collect_point_<%= collect_point.id %>" class="row-hover">
                        <!-- turbo_stream_from で削除対象の行を監視 -->
                        <%= turbo_stream_from "collect_point_#{collect_point.id}" %>
                        <td class="text-sm px-4 py-1 border border-gray-300 text-center w-8">
                          <input
                            type="checkbox"
                            name="selectRows[]"
                            value="<%= collect_point.id %>"
                            data-bulk-action-target="selectRow"
                            data-action="change->bulk-action#updateSelectRow change->validation#toggleSubmitButton change->bulk-action#zeroSelectDisabledBulkUpdate"
                            id="bulk-action-select-row-<%= collect_point.id %>"
                          >
                        </td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="english_place_name"><%= collect_point.english_place_name %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="contient"><%= collect_point.contient %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="island_group"><%= collect_point.island_group %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="island"><%= collect_point.island %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="country"><%= collect_point.country %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="state_provice"><%= collect_point.state_provice %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="county"><%= collect_point.county %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="municipality"><%= collect_point.municipality %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="japanese_place_name"><%= collect_point.japanese_place_name %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="japanese_place_name_detail"><%= collect_point.japanese_place_name_detail %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="verbatim_locality"><%= collect_point.verbatim_locality %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="latitude"><%= collect_point.latitude %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="longitude"><%= collect_point.longitude %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="coordinate_precision"><%= collect_point.coordinate_precision %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="minimum_elevation"><%= collect_point.minimum_elevation %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="maximum_elevation"><%= collect_point.maximum_elevation %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="minimum_depth"><%= collect_point.minimum_depth %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300" data-table-column-visible-columns id="maximum_depth"><%= collect_point.maximum_depth %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300 hidden" data-table-column-visible-columns id="created_at"><%= collect_point.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300 hidden" data-table-column-visible-columns id="note"><%= collect_point.note %></td>
                        <td class="text-sm px-4 py-1 border border-gray-300">
                          <div class="flex gap-3 flex-col sm:flex-row">
                            <!-- 詳細リンク (ページ遷移) -->
                            <%= link_to "詳細", collect_point, class: "rounded-lg py-1 px-3 text-sm normal-button text-center",
                              data: { turbo_frame: "content-zone", turbo_action: "advance" } %>

                            <!-- 編集リンク (ページ遷移) -->
                            <%= link_to "編集", edit_collect_point_path(collect_point), class: "rounded-lg py-1 px-3 text-sm normal-button text-center",
                              data: { turbo_frame: "content-zone", turbo_action: "advance" } %>

                            <!-- 複製リンク (ページ遷移) -->
                            <%= link_to "複製", new_collect_point_path(base_id: collect_point.id), class: "rounded-lg py-1 px-3 text-sm normal-button text-center",
                              data: { turbo_frame: "content-zone", turbo_action: "advance" } %>
                            <!-- 削除リンク (Turbo Stream で削除) -->
                            <%= link_to "削除", collect_point_path(collect_point), method: :delete, class: "rounded-lg py-1 px-3 denger text-white text-sm text-center",
                              data: { turbo_confirm: "本当に削除しますか?", turbo_method: :delete, turbo_stream: "collect_point_#{collect_point.id}" } %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <% if @collect_points.empty? %>
                <div class="m-12">
                  データが見つかりませんでした
                </div>
              <% end %>
              <div data-table-column-target="paginate" class="hidden">
                <%= paginate @collect_points %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
