<%= turbo_frame_tag "content-zone" do %>
  <div class="px-4 md:px-10 lg:px-20 py-4 max-w-screen-xl mx-auto">
    <div class="mx-auto">
      <% if notice.present? %>
        <p class="py-1 px-3 bg-green-50 mb-5 text-green-500  rounded-lg inline-block" id="notice"><%= notice %></p>
      <% end %>


      <h1 class="font-bold text-lg">採集地点の詳細</h1>

      <%= render @collect_point %>

      <%= link_to "一覧に戻る", collect_points_url_with_ranmemory,
        class: "mt-2 rounded-lg py-1 px-2 inline-block normal-button",
        data: { turbo_frame: "content-zone", turbo_action: "advance" }
      %>
      <%= link_to "編集", edit_collect_point_path(@collect_point),
        class: "mt-2 rounded-lg py-1 px-2 inline-block normal-button",
        data: { turbo_frame: "content-zone", turbo_action: "advance" }
      %>
      <%= link_to "複製", new_collect_point_path(base_id: @collect_point.id),
        class: "mt-2 rounded-lg py-1 px-2 inline-block normal-button",
        data: { turbo_frame: "content-zone", turbo_action: "advance" }
      %>
      <%= link_to "削除", collect_point_path(@collect_point.id), method: :delete,
        class: "mt-2 rounded-lg py-1 px-2 inline-block denger",
        data: {turbo_confirm: "本当に削除しますか?", turbo_method: :delete, turbo_action: "advance"}
      %>
    </div>
  </div>
<% end %>
