<div id="<%= dom_id collection_setting %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Collection name:</strong>
    <%= collection_setting.collection_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Institution code:</strong>
    <%= collection_setting.institution_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Latest collection code:</strong>
    <%= collection_setting.latest_collection_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= collection_setting.note %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= collection_setting.user_id %>
  </p>

</div>
