<div id="<%= dom_id collection_setting %>" class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <div>
    <p class="my-5">
      <strong class="block font-medium mb-1">機関コード:</strong>
      <%= collection_setting.institution_code %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">コレクション名:</strong>
      <%= collection_setting.collection_name %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">最新標本ID:</strong>
      <%= collection_setting.latest_collection_code %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">備考:</strong>
      <%= simple_format(collection_setting.note) %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">作成日時:</strong>
      <%= collection_setting.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    </p>
  </div>
</div>
